<section class="video" id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1><a href="http://www.youtube.com/embed/9No-FiEInLA?autoplay=1&wmode=opaque&fs=1" class="youtube-media"><i class="fa fa-play-circle-o"></i> Watch the Video</a></h1>
			</div>
		</div>
	</div>
</section>