<section id="speakers-intro" class="speakers-intro">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-6 nopadding features-intro-img">
        <div class="speakers-bg">
          <div class="texture-overlay"></div>
          <div class="speakers-img wp1">
            <img src="assets/img/html5-logo.png" alt="HTML5 Logo">
          </div>
        </div>
      </div> -->
      <div class="col-md-12 nopadding">
        <div class="features-slider" style="padding-top: 30px;height: 675px;">
        <div style="margin-bottom: 50px;"><center><h1>Speaker Series</h1></center></div>
          <ul class="slides" id="featuresSlider">
            <li>
              <div class="row row-eq-height">
                <div class="col-md-12">
                  <div class="row row-eq-height">
                    <div class="col-md-3" style="height:360px;overflow-y:hidden">
                      <img src="assets/img/speakers/ng.jpg" width="80%">
                    </div>
                    <div class="col-md-9">
                      <h1>Mr. Nitin Gadkari</h1>
                      <p>Union Minister Mr. Nitin Gadkari has consented to be the Chief Guest at the Inauguration Ceremony of the 15th Edition of IIM Bangalore’s Vista on the 24th of September, 2015.<br/>
 
                      Nitin Gadkari is a senior minister in the Union Cabinet of Prime Minister Narendra Modi holding the important portfolios of Road Transport, Highways & Shipping. He was also the youngest party president when he was elevated to the post in 2009. As Public Works minister in Maharashtra, he built the Mumbai-Pune Expressway.He has promoted Water Management, Solar Energy Projects and the use of modern technology & management tools in agriculture. His social enterprise has brought enormous development in the catchment areas of Nagpur region, notorious for farmers’ suicide. He has also carried out many social welfare projects in Vidarbha region including making several villages self-sufficient by solar energy, thousands of heart surgeries and solar rickshaws for the needy. Mr. Gadkari has a vision for a strong India and he earnestly believes that the 21st century politics is the politics of progress and development.
                      </p><p>Date and Day: Thursday, 24th September<br/>
                      Time: 6.00 PM<br/>
                      Venue: IIM B Auditorium<br/>
                      Topic: India Aspires<br/></p>
                    </div>
                  </div>
                </div>
            </li>
            <li>
              <div class="row row-eq-height">
                <div class="col-md-12">
                  <div class="row row-eq-height">
                    <div class="col-md-3" style="height:360px;overflow-y:hidden">
                      <img src="assets/img/speakers/msa.jpg" width="80%">
                    </div>
                    <div class="col-md-9">
                      <h1>Shri Mani Shankar Aiyar</h1>
                      <p>Mr. Mani Shankar Aiyar is an ex-Diplomat turned politician. He spent 26 distinguished years in the IFS, the last 5 of which were spent in deputation to the Prime Minister’s Office under Rajiv Gandhi. He was first elected to the Lok Sabha in 1991 and has since also been a Cabinet Minister in the 2004 UPA Government. He has served as the Head of the ministry overseeing the Panchayati Raj. He has also held the portfolios for Minister of Petroleum and Natural Gas, Youth Affairs and Sports and Development of North Eastern Region. In March 2010, he was nominated to the Rajya Sabha by the President for his expertise in the field of Social Service. An accomplished author and columnist, his publications include Remembering Rajiv (1992) and Confessions of a Secular Fundamentalist (2004) amongst others.
                      </p><p>Date and Day: Friday, 25th September<br/>
                      Time: 11.00 AM<br/>
                      Venue: IIM B Auditorium<br/>
                      Topic: Dilemma of Development and Democracy<br/></p>
                    </div>
                  </div>
                </div>
            </li>
            <li>
              <div class="row row-eq-height">
                <div class="col-md-12">
                  <div class="row row-eq-height">
                    <div class="col-md-3" style="height:360px;overflow-y:hidden">
                      <img src="assets/img/speakers/srk.jpg" width="80%">
                    </div>
                    <div class="col-md-9">
                      <h1>Mr. Siddharth Roy Kapur</h1>
                      <p>Siddharth, Managing Director – Disney India, is driving the strategy and growth for Walt Disney Company in one of its most important global growth markets. Siddharth began his career with the Procter & Gamble Company in Mumbai in the brand management team. 
                      From P&G, Siddharth moved to STAR TV in the strategic planning division. After a brief stint in Hong Kong, he moved back to Mumbai to work on the marketing of 'Kaun Banega Crorepati'. In recognition of the ground-breaking marketing efforts behind the show, he was nominated for the Team Newscorp Global Excellence Awards. 

                      Siddharth was with UTV since 2005. He led the marketing efforts behind multiple films including the cult classic Rang De Basanti. In January 2008 he took over as CEO of UTV Motion Pictures and subsequent to the takeover by Walt Disney International he held the role of Managing Director – Studio. Under his leadership the studio has produced / released some of the best films of the decade such as Jodhaa Akbar, A Wednesday!, Taare Zameen Par, Jaane Tu Ya Jaane Na, Dev D, Rowdy Rathore, Barfi!, ABCD, Kai Po Che, Yeh Jawaani Hai Deewani, Chennai Express and more.
                      </p><p>Date and Day: Saturday, 26th September<br/>
                      Time: 10.45 AM<br/>
                      Venue: IIM B Auditorium<br/></p>
                    </div>
                  </div>
                </div>
            </li>
            <li>
              <div class="row row-eq-height">
                <div class="col-md-12">
                  <div class="row row-eq-height">
                    <div class="col-md-3" style="height:360px;overflow-y:hidden">
                      <img src="assets/img/speakers/nn.jpg" width="80%">
                    </div>
                    <div class="col-md-9">
                      <h1>Mr Nandan Nilekani</h1>
                      <p>Nandan Nilekani is an Indian entrepreneur, bureaucrat and politician. He is the former Chairman of the Unique Identification Authority of India (UIDAI). After a successful career at Infosys, he headed the Government of India's technology committee, TAGUP.
                      Mr. Nilekani and Mr. Narayana Murthy started Infosys in 1981. Mr. Nilekani became the chief executive officer of Infosys in March 2002 and served as CEO of the company through April 2007 and became co-chairman of the board of directors. Before assuming leadership as CEO in 2002, Nilekani held various posts, including managing director, president, and chief operating officer.
                      Mr. Nilekani left Infosys in July 2009 to serve as the chairman of the Unique Identification Authority of India, a cabinet-ranking position,under the then Prime Minister Dr. Manmohan Singh. As chair of the UIDAI,he is responsible for implementing the theorized Multipurpose National Identity Card, or Unique Identity card (UID Card) project in India.
                      Mr Nilekani is a member of the board of governors of the Indian Council for Research on International Economic Relations (ICRIER) and the president of NCAER (the premier independent applied economics research institute in India). In 2006, Mr Nilekani was awarded one of the highest Indian civilian awards, the Padma Bhushan. In the same year he was named the Businessman of the Year by Forbes Asia. In 2009, Time magazine placed Mr Nilekani in the Time 100 list of 'World's Most Influential People'. He has also authored a book titled Imagining India: The Idea of a Renewed Nation, for which he featured in The Daily Show with Jon Stewart.
                      </p><p>Date and Day: Saturday, 26th September<br/>
                      Time: 3.00 PM<br/>
                      Venue: IIM B Auditorium<br/></p>
                    </div>
                  </div>
                </div>
            </li>
            <li>
              <div class="row row-eq-height">
                <div class="col-md-12">
                  <div class="row row-eq-height">
                    <div class="col-md-3" style="height:360px;overflow-y:hidden">
                    <br/><br/>
                      <img src="assets/img/speakers/rs.jpg" width="80%">
                    </div>
                    <div class="col-md-9">
                      <h1>Mr. Rajdeep Sardesai</h1>
                      <p>Mr. Rajdeep Sardesai is currently a consulting editor at the India Today. He is also the former Editor-in-Chief of IBN18 Network, that includes CNN-IBN, IBN7 and IBN-Lokmat.
                      An economics graduate from St. Xavier's College, he has completed his Masters and LLB from Oxford University. He has 26 years of journalistic experience in print and television. Prior to setting up the IBN network channels, he was the Managing Editor of both NDTV 24X7 and NDTV India. He has covered major national and international stories, specialising in national politics. He has won numerous other awards for journalistic excellence, including the prestigious Padma Shri for Journalism in 2008. He was also chosen as a Global Leader for Tomorrow by the world economic forum. Mr.Sardesai authored a book 2014: The Election that Changed India, which was released on 1 November 2014. Mr. Sardesai also writes a fortnightly column across several newspapers, including The Hindustan Times.
                      </p><p>Date and Day: Saturday, 26th September<br/>
                      Time: 6.00 PM<br/>
                      Venue: IIM B Auditorium<br/></p>
                    </div>
                  </div>
                </div>
            </li>
            <li>
              <div class="row row-eq-height">
                <div class="col-md-12">
                  <div class="row row-eq-height">
                    <div class="col-md-3" style="height:360px;overflow-y:hidden">
                      <img src="assets/img/speakers/rom.jpg" width="80%">
                    </div>
                    <div class="col-md-9">
                      <h1>Mr. Rakeysh Omprakash Mehra</h1>
                      <p>Rakeysh Omprakash Mehra is a two time, National Film Award winning Indian filmmaker and screenwriter. He is best known for writing and directing Rang De Basanti and Bhaag Milkha Bhaag. He has directed scores of television commercials for Indian and international clients such as Coke, Pepsi, Toyota, American Express and BPL. He has also directed music videos such as Aby Baby starring Amitabh Bachchan. He won Best Director award at the 2006 Filmfare Award and National Film Award as well as a BAFTA Award nomination for Best Foreign Language Film for Rang De Basanti. The film was also officially chosen as India's entry to the Oscars. In 2013, Mehra directed the biopic Bhaag Milkha Bhaag starring Farhan Akhtar as Milkha Singh, the legendary Indian sprinter. The film was a major commercial and critical success and earned him the IIFA award for best director for that year and national film award for best popular film.
                      </p><p>Date and Day: Sunday, 27th September<br/>
                      Time: 2.00 PM<br/>
                      Venue: IIM B Auditorium<br/>
                      Topic: Telling Indian Stories to the world<br/></p>
                    </div>
                  </div>
                </div>
            </li>          
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>