<section id="speakers-intro" class="speakers-intro">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-6 nopadding features-intro-img">
        <div class="speakers-bg">
          <div class="texture-overlay"></div>
          <div class="speakers-img wp1">
            <img src="assets/img/html5-logo.png" alt="HTML5 Logo">
          </div>
        </div>
      </div> -->
      <div class="col-md-12 nopadding">
        <div class="features-slider" style="padding-top: 30px;height: 600px;">
        <div style="margin-bottom: 50px;"><center><h1>Speaker Series</h1></center></div>
          <ul class="slides" id="featuresSlider">
            <li>
              <div class="row row-eq-height">
                <div class="col-md-12">
                  <div class="row row-eq-height">
                    <div class="col-md-3" style="height:360px;overflow-y:hidden">
                      <img src="assets/img/speakers/msa.jpg" width="80%">
                    </div>
                    <div class="col-md-9">
                      <h1>Shri Mani Shanker Iyer</h1>
                      <p>Mr. Mani Shankar Aiyar is an ex-Diplomat turned politician. He spent 26 distinguished years in the IFS, the last 5 of which were spent in deputation to the Prime Minister’s Office under Rajiv Gandhi. He was first elected to the Lok Sabha in 1991 and has since also been a Cabinet Minister in the 2004 UPA Government. He has served as the Head of the ministry overseeing the Panchayati Raj. He has also held the portfolios for Minister of Petroleum and Natural Gas, Youth Affairs and Sports and Development of North Eastern Region. In March 2010, he was nominated to the Rajya Sabha by the President for his expertise in the field of Social Service. An accomplished author and columnist, his publications include Remembering Rajiv (1992) and Confessions of a Secular Fundamentalist (2004) amongst others.
                      </p><p>Date and Day: Friday, 25th September
                      </p><p>Time: 11.00 AM
                      </p><p>Venue: IIM B Auditorium
                      </p><p>Topic: Dilemma of Development and Democracy</p>
                      <!-- <p><a href="#features" class="arrow-btn"><i class="fa fa-long-arrow-right"></i></a></p> -->
                    </div>
                  </div>
                </div>
<!--                 <div class="col-md-6">
                  <div class="row row-eq-height">
                    <div class="col-md-3">
                      <img src="assets/slider/example-slide-1.jpg" width="90%">
                    </div>
                    <div class="col-md-9">
                      <h1>Speaker 1</h1>
                      <p>Something about speaker... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                    </div>
                    </div>
                </div>
              </div>
 -->              <!-- <p><a href="#features" class="arrow-btn"><i class="fa fa-long-arrow-right"></i></a></p> -->
            </li>
            <!-- <li>
              <div class="row row-eq-height">
                <div class="col-md-6">
                  <div class="row row-eq-height">
                    <div class="col-md-3">
                      <img src="assets/slider/example-slide-1.jpg" width="90%">
                    </div>
                    <div class="col-md-9">
                      <h1>Speaker 1</h1>
                      <p>Something about speaker... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                 
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row row-eq-height">
                    <div class="col-md-3">
                      <img src="assets/slider/example-slide-1.jpg" width="90%">
                    </div>
                    <div class="col-md-9">
                      <h1>Speaker 1</h1>
                      <p>Something about speaker... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                 
                    </div>
                    </div>
                </div>
              </div>
              
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>