<section id="speakers-intro" class="speakers-intro">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-6 nopadding features-intro-img">
        <div class="speakers-bg">
          <div class="texture-overlay"></div>
          <div class="speakers-img wp1">
            <img src="assets/img/html5-logo.png" alt="HTML5 Logo">
          </div>
        </div>
      </div> -->
      <div class="col-md-12 nopadding">
        <div class="features-slider" style="padding-top: 30px;height: 625px;">
        <div style="margin-bottom: 50px;"><center><h1>Speaker Series</h1></center></div>
          <ul class="slides" id="featuresSlider">
            <li>
              <div class="row row-eq-height">
                <div class="col-md-12">
                  <div class="row row-eq-height">
                    <div class="col-md-3" style="height:360px;overflow-y:hidden">
                      <img src="assets/img/speakers/msa.jpg" width="80%">
                    </div>
                    <div class="col-md-9">
                      <h1>Shri Mani Shankar Aiyar</h1>
                      <p>Mr. Mani Shankar Aiyar is an ex-Diplomat turned politician. He spent 26 distinguished years in the IFS, the last 5 of which were spent in deputation to the Prime Minister’s Office under Rajiv Gandhi. He was first elected to the Lok Sabha in 1991 and has since also been a Cabinet Minister in the 2004 UPA Government. He has served as the Head of the ministry overseeing the Panchayati Raj. He has also held the portfolios for Minister of Petroleum and Natural Gas, Youth Affairs and Sports and Development of North Eastern Region. In March 2010, he was nominated to the Rajya Sabha by the President for his expertise in the field of Social Service. An accomplished author and columnist, his publications include Remembering Rajiv (1992) and Confessions of a Secular Fundamentalist (2004) amongst others.
                      </p><p>Date and Day: Friday, 25th September
                      </p><p>Time: 11.00 AM
                      </p><p>Venue: IIM B Auditorium
                      </p><p>Topic: Dilemma of Development and Democracy</p>
                    </div>
                  </div>
                </div>
            </li>
            <li>
              <div class="row row-eq-height">
                <div class="col-md-12">
                  <div class="row row-eq-height">
                    <div class="col-md-3" style="height:360px;overflow-y:hidden">
                      <img src="assets/img/speakers/srk.jpg" width="80%">
                    </div>
                    <div class="col-md-9">
                      <h1>Mr. Siddharth Roy Kapur</h1>
                      <p>Siddharth, Managing Director – Disney India, is driving the strategy and growth for Walt Disney Company in one of its most important global growth markets. Siddharth began his career with the Procter & Gamble Company in Mumbai in the brand management team. 
                      From P&G, Siddharth moved to STAR TV in the strategic planning division. After a brief stint in Hong Kong, he moved back to Mumbai to work on the marketing of 'Kaun Banega Crorepati'. In recognition of the ground-breaking marketing efforts behind the show, he was nominated for the Team Newscorp Global Excellence Awards. 

                      Siddharth was with UTV since 2005. He led the marketing efforts behind multiple films including the cult classic Rang De Basanti. In January 2008 he took over as CEO of UTV Motion Pictures and subsequent to the takeover by Walt Disney International he held the role of Managing Director – Studio. Under his leadership the studio has produced / released some of the best films of the decade such as Jodhaa Akbar, A Wednesday!, Taare Zameen Par, Jaane Tu Ya Jaane Na, Dev D, Rowdy Rathore, Barfi!, ABCD, Kai Po Che, Yeh Jawaani Hai Deewani, Chennai Express and more.
                      </p><p>Date and Day: Saturday, 26th September
                      </p><p>Time: 10.45 AM
                      </p><p>Venue: IIM B Auditorium</p>
                    </div>
                  </div>
                </div>

            </li>
            <li>
              <div class="row row-eq-height">
                <div class="col-md-12">
                  <div class="row row-eq-height">
                    <div class="col-md-3" style="height:360px;overflow-y:hidden">
                    <br/><br/>
                      <img src="assets/img/speakers/rs.jpg" width="80%">
                    </div>
                    <div class="col-md-9">
                      <h1>Mr. Rajdeep Sardesai</h1>
                      <p>Mr. Rajdeep Sardesai is currently a consulting editor at the India Today. He is also the former Editor-in-Chief of IBN18 Network, that includes CNN-IBN, IBN7 and IBN-Lokmat.
                      An economics graduate from St. Xavier's College, he has completed his Masters and LLB from Oxford University. He has 26 years of journalistic experience in print and television. Prior to setting up the IBN network channels, he was the Managing Editor of both NDTV 24X7 and NDTV India. He has covered major national and international stories, specialising in national politics. He has won numerous other awards for journalistic excellence, including the prestigious Padma Shri for Journalism in 2008. He was also chosen as a Global Leader for Tomorrow by the world economic forum. Mr.Sardesai authored a book 2014: The Election that Changed India, which was released on 1 November 2014. Mr. Sardesai also writes a fortnightly column across several newspapers, including The Hindustan Times.
                      </p><p>Date and Day: Saturday, 26th September
                      </p><p>Time: 6.00 PM
                      </p><p>Venue: IIM B Auditorium</p>
                    </div>
                  </div>
                </div>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>