<header>
	<section class="hero">
		<div class="texture-overlay"></div>
		<div class="container">
			<div class="row nav-wrapper">
				<div class="col-md-4 col-sm-4 col-xs-4 text-left">
					<a href="#"><img src="assets/img/vista-logo.jpg" max-width="1%" alt="Boxify Logo"></a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<img src="assets/img/home-iimb-logo.png" class="small-header">
					<!-- <a href="#"><img src="assets/img/vista-logo.jpg" width="15	0px" max-width="30%" alt="Boxify Logo"></a> -->
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-right navicon">
					<p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
				</div>
			</div>
			<div class="row hero-content">
				<div class="col-md-12">
					<center>
					<h1 class="animated fadeInDown">VISTA '15</h1>
					It is time to get
					<h3>INDIGENOUS</h3>
					<!-- <a href="http://tympanus.net/codrops/?p=22554" class="use-btn animated fadeInUp">Use it for free</a>  -->
					<a href="/sign_up" class="learn-btn animated fadeInUp">Register Today !!!<i class="fa fa-arrow-down"></i></a>
					</center>
				</div>
			</div>
		</div>
	</section>
</header>