<header>
	<section id="hero" class="hero">
		<div class="texture-overlay"></div>
		<div class="container">
			<div class="row nav-wrapper">
				<div class="col-md-4 col-sm-4 col-xs-4 text-left">
					<!-- <a href="#"><img src="assets/img/vista-2015-logo.gif" class="small-header" alt="Vista Logo"></a> -->
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<!-- <img src="assets/img/home-iimb-logo.png" class="small-header"> -->
					<!-- <a href="#"><img src="assets/img/vista-logo.jpg" width="15	0px" max-width="30%" alt="Boxify Logo"></a> -->
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-right navicon navicon-fixed">
					<p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
				</div>
			</div>
			<div class="row hero-content">
				<div class="col-md-12">
					<center>
					<div class="animated fadeInDown">
						<!-- <img src="assets/img/vista-text.png" class="main-banner"> -->
					</div>
					<!-- It is time to get -->
					<div class="animated fadeInDown" style="position:absolute;left:40%;top:550px;">
						<a href="/users/sign_up" class="learn-btn animated fadeInUp">Register Today !!!</a>
						<!-- <img src="assets/img/indigenous-home.png" class="small-banner"> -->
					</div>
					<!-- <a href="http://tympanus.net/codrops/?p=22554" class="use-btn animated fadeInUp">Use it for free</a>  -->
					</center>
				</div>
			</div>
		</div>
	</section>
</header>