<header>
	<section id="hero" class="hero" style="padding-top:0px;">
		<div class="texture-overlay"></div>
		<div class="row nav-wrapper">
			<div class="col-md-4 col-sm-4 col-xs-4 text-left">
				<!-- <a href="#"><img src="assets/img/vista-2015-logo.gif" class="small-header" alt="Vista Logo"></a> -->
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center">
				<!-- <img src="assets/img/home-iimb-logo.png" class="small-header"> -->
				<!-- <a href="#"><img src="assets/img/vista-logo.jpg" width="15	0px" max-width="30%" alt="Boxify Logo"></a> -->
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-right navicon navicon-fixed" style="color:#594444;z-index:9999;">
				<p><strong>MENU</strong></p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
			</div>
		</div>
		<div class="container" style="min-height:100%;height:200vh;padding-top:10vh;">
			<div class="row" style="height:10vh;">
			<div class="col-md-3 hidden-xs hidden-sm"></div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="col-md-5 col-sm-5 col-xs-5">
					<div class="text-left"><img src="/assets/img/IIMB-Logo.png" style="max-width:80%;width:auto;" /></div>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					
				</div>
				<div class="col-md-5 col-sm-5 col-xs-5">
					<div class="text-right"><img src="/assets/img/Vista_Logo.png" style="max-width:80%;width:auto;" /></div>
				</div>
			</div>
			<div class="col-md-3 hidden-xs hidden-sm"></div>
			</div>
			<div class="row hero-content">
				<div class="col-md-12" style="height:200px">
					<div class="animated fadeInDown" style="position:absolute;top:40%;right:10%;">
							<b><p style="color:black;">Associate Title Sponsor</p></b>
							<img src="/assets/img/event_sponsors/transparent_strategy.gif" style="height:50px;" />
						</div>
					<center>

						<!-- It is time to get -->
						<div class="animated fadeInDown" style="position:relative;top:355px;font-size:40px;font-family='cursive'">
							<img src="/assets/img/home_text.png" style="max-height:13vh;height:auto;" />
							<!-- <img src="assets/img/indigenous-home.png" class="small-banner"> -->
						</div>
						<div class="animated fadeInDown" style="position:relative;top:380px;">
							<a href="/users/sign_up" class="learn-btn animated fadeInUp">Register Today !!!</a>
							<!-- <img src="assets/img/indigenous-home.png" class="small-banner"> -->
						</div>
						<!-- <a href="http://tympanus.net/codrops/?p=22554" class="use-btn animated fadeInUp">Use it for free</a>  -->
					</center>
				</div>
			</div>
		</div>
	</section>
</header>