<section class="features-list" id="highlights" style="padding-bottom: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="col-md-4 feature-1 wp2">
					<div class="feature-icon">
						13k+
					</div>
					<div class="feature-content">
						<h1>Footfall</h1>
						<p>Its gonna be a festive time here ! Better be there and be a part of it !</p>
					</div>
				</div>
				<div class="col-md-4 feature-2 wp2 delay-05s">
					<div class="feature-icon">
						16 lakh
					</div>
					<div class="feature-content">
						<h1>Prize Money</h1>
						<p>There is going to be a lot to win, at the place to B</p>
					</div>
				</div>
				<div class="col-md-4 feature-3 wp2 delay-1s">
					<div class="feature-icon">
						350+
					</div>
					<div class="feature-content">
						<h1>Participating Colleges</h1>
						<p>Participants from all over the country will be here to battle it out !</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>