<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h1 class="footer-logo">
					<img src="assets/img/Vista_Logo.png" class="small-header" alt="Vista Logo">
				</h1>
				<p>© Vista 2015</p>
			</div>
			<div class="col-md-9">
				<ul class="footer-nav">
					<li><a href="#hero">Get Indi-Genius</a></li>
					<li><a href="#screenshots-intro">Top Events</a></li>
					<li><a href="#highlights">Rewards</a></li>
					<li><a href="#features-intro">About Us</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>