<section class="download" id="download">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center wp4">
				<h1>Seen Enough?</h1>
				<a href="http://tympanus.net/codrops/?p=22554" class="download-btn">Register Now! <i class="fa fa-download"></i></a>
			</div>
		</div>
	</div>
</section>