<section class="showcase" id="showcase">
	<div class="showcase-wrap">
		<div class="texture-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="device wp3">
						<div class="device-content">
							<div class="showcase-slider">
								<ul class="slides" id="showcaseSlider">
									<li>
										<img src="assets/img/Screen1.png" alt="Device Content Image">
									</li>
									<li>
										<img src="assets/img/Screen2.png" alt="Device Content Image">
									</li>
									<li>
										<img src="assets/img/Screen3.png" alt="Device Content Image">
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h1>Download the Vista App now !!!</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
					<blockquote class="team-quote">
						<div class="avatar"><img src="assets/img/avatar.png" alt="User Avatar"></div>
						<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc." - Peter Finlan</p>
					</blockquote>
					<a href="/" class="mydownload-btn">Download from Playstore! <i class="fa fa-download"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>