<section class="features-intro" id="features-intro">
	<div class="container-fluid white-on-orange"	>
		<div class="row row-eq-height">
			<div class="col-md-12 white-on-orange">
				<div class="container">
					<h1>Vista '15</h1>
					<blockquote style="height: 75px;">
						<p><strong>As the world sleeps, India will awake...</strong></p>
						<footer style="padding-top: 10px; padding-bottom: 10px; color: rgb(255, 255, 255);">Jawarharlal Nehru</footer>
					</blockquote>
					<p>
						One of the earliest and most learned of civilizations, India, has been the cradle for some of the most fundamental inventions of the world: in astronomy, in physics, in mathematics, in business and in medicine. Ancient India flourished because of this innovation, in all its various forms. However, time has eroded much of what we once were. For many a century we slumbered, waiting. Waiting for this age. This moment. And now, once again, we are poised on the brink of a revolution. To stake our claim to the title of “Superpower”. India is racing ahead, far surpassing people’s expectations.
						
						Discovering water on the moon? Check.
						
						Fast growing smartphone penetration? Check.
						
						Pioneering changes in the Pharma industry? Check.
						
						It is a generation of pioneers. Pioneers with the acumen and ambition to make for India. To drive fundamental changes in the various domains of business: be it in human capital formation, manufacturing or technological innovation. These pioneers are setting the pace. And the world is finally taking note.
						
						As the world awakens to the nascent potential of the Indian subcontinent, join us at Vista 2015 as we celebrate the spirit of being Indi-genius; In Arts, Science, Politics, Business and social issues. Join us as we celebrate what was, what is and what will be.
						
						Be heard on an international podium. Pitch your ideas to thousands. Brush shoulders with the who’s-who of the corporate world.  
						Come, take a leap forward with Vista’15!</p></div>
						<!-- <p><a href="#features" class="arrow-btn"><i class="fa fa-long-arrow-right"></i></a></p> -->
					</div>
					<div class="col-md-12 orange-on-white">
						<div class="container">
							<h1>Forum for Industrial Interaction</h1>
							<p>Forum for Industrial Interaction (FII),  the face of IIMB in the corporate world, is a student-run initiative. The 41-member team's goal is to promote interaction between academia, industry and the government to complement and enhance learning at IIMB. FII is the only organizing body which has the mandate to organize Business-related events at an inter-college level. FII organizes and conducts major events on campus throughout the year. The flagship event is Vista, a business festival that attracts participants from over 350 colleges and over 60 companies. Other events include: Hell-Square (an intra-college event), Nexus (a public policy debating event modeled on MUN), Colloquiums (a series of lectures running through the year) & TEDxIIMBangalore.</p></div>
						</div>
						<div class="col-md-12 white-on-orange">
							<div class="container">
								<h1>IIM Bangalore</h1>
								<p>The Indian Institute of Management Bangalore (also known as IIMB) is a public business school located in Bangalore, Karnataka, India. Founded in 1973, it was the third IIM to be established, after IIM Calcutta and IIM Ahmedabad. It is consistently ranked as one of the best business schools in India and the Asia Pacific region. It offers a doctoral and several post graduate programmes, as well as a wide array of Executive training programmes. Vista is IIM Bangalore’s Annual flagship Business festival. The event is completely student-run and sees participation from across the country.</p></div>
							</div>
							<div class="col-md-12 more_height"></div>
						</div>
					</div>
				</section>