<section class="features-intro" id="features-intro">
	<div class="container-fluid white-on-orange"	>
		<div class="row row-eq-height">
			<div class="col-md-12 white-on-orange">
			<div class="container">
				<h1>Vista '15</h1>
				<p>One of the earliest and most learned of civilizations, India, has been the cradle for some of the most fundamental inventions of the world, in diverse fields: astronomy, physics, mathematics, business and medicine. Ancient India flourished because of innovation in various forms. Over the erosion of time, from being the once founder of the most fundamental unit of mathematics, India had been helplessly giving way to countries, less bountiful than ours, towards global market domination.

Realizing the gravity of the importance of self-sufficiency, the PM launched the ‘Make in India’ drive and the nation responded with unmatched furore to his siren-call.

Vista’15 has kept up with the temperature of the nation and brings to you, a never-before-seen edition which takes the significance of ‘Indigenous’ to the next level. We will provide you the biggest platform to showcase your start-up ideas, big or small! Be heard at an international podium! Brush shoulders with the biggest and the best of the corporate world!

Are you the next low-cost, genius that the nation needs and deserves?

Come, take a leap forward with Vista’15!</p></div>
				<!-- <p><a href="#features" class="arrow-btn"><i class="fa fa-long-arrow-right"></i></a></p> -->
			</div>
			<div class="col-md-12 orange-on-white">
			<div class="container">
				<h1>Forum for Industrial Interaction</h1>
				<p>The prime student committee, under the Student’s Affairs Council, Forum for Industrial Interaction spearheads the weaving of an interaction web between the threefold points : Students, Academia and Industry at IIM Bangalore. FII strives to complement the learning experience of the students with hands-on experiences of superlative degree of the corporate world.FII is the only organizing body which has the mandate to raise sponsorship and organize Business-side events at an inter-college level. Forum for Industrial Interaction (FII), the face of IIMB in the corporate world, is a student-run initiative. The 41-member team's goal is to promote interaction between academia, industry and the government to complement and enhance learning at IIMB. FII organizes and conducts major events on campus throughout the year. The flagship event is Vista, a business festival that attracts participants from over 150 colleges and across 60 companies. Other events include: Hell-Square (an intra-college event), Nexus (a public policy debating event modeled on MUN), Colloquiums (a series of lectures running through the year) & TEDxIIMB. Among other activities, FII also helps organize the south zone finals of BT Acumen quiz.</p></div>
			</div>
			<div class="col-md-12 white-on-orange">
			<div class="container">
				<h1>IIM Bangalore</h1>
				<p>The Indian Institute of Management Bangalore (also known as IIMB) is a public business school located in Bangalore, Karnataka, India. Founded in 1973, it was the third IIM to be established, after IIM Calcutta and IIM Ahmedabad. It is consistently ranked as one of the best business schools in India and the Asia

Pacific region. It offers a doctoral and several post graduate programmes, as well as a wide array of Executive training programmes.The Post Graduate Programme in Management (PGP), a two-year, full-time, residential MBA programme, is IIMB's flagship.</p></div>
			</div>
			<div class="col-md-12 more_height"></div>
		</div>
	</div>
</section>