<section class="screenshots-intro" id="screenshots-intro" style="padding-top: 0px; padding-bottom: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Events @ Vista 2015</h1>
				<p>Vista 2015 provides you a unique platform for a diverse bouquet of events to select from depending upon your interest and expertise. Spread over 3 days, with as many as 50+ events varying from building your own smart city to authoring your own viral meme, Vista presents to you a never-before-seen confluence of ideas and people. Events with prizes worth over 1 lac: we have quizzes, bidding events, business pitches and corporate talks, etc. Vista 2015 has something for every enthusiast who plans to participate in the mega business fest of IIM Bangalore. International participation, in our flagship events, stands testimony to the trueness of the diversity that IIM Bangalore offers.</p>
				<p><a href="#screenshots" class="arrow-btn">See the events! <i class="fa fa-long-arrow-right"></i></a></p>
			</div>
		</div>
	</div>
</section>