<section class="screenshots-intro" id="screenshots-intro" style="padding-top: 0px; padding-bottom: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Something about the events</h1>
				<p>Just some globe about how great and interesting and exciting the events at vista will be, and how they need to partiipate in as many events as possible</p>
				<p><a href="#screenshots" class="arrow-btn">See the events! <i class="fa fa-long-arrow-right"></i></a></p>
			</div>
		</div>
	</div>
</section>