<section class="sponsors-intro" id="sponsors-intro">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>We love our Sponsors</h1>
				<p>There is one big image that is going to come here !!!</p>
				<p>There is one big image that is going to come here !!!</p>
				<p>There is one big image that is going to come here !!!</p>
				<p>There is one big image that is going to come here !!!</p>
				<p>There is one big image that is going to come here !!!</p>
				<p>There is one big image that is going to come here !!!</p>
				<p>There is one big image that is going to come here !!!</p>
				<!-- <p><a href="#screenshots" class="arrow-btn">We love our sponsors! <i class="fa fa-long-arrow-right"></i></a></p> -->
			</div>
		</div>
	</div>
</section>