<table class="x_MsoNormalTable" style="border-collapse:collapse" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td style="width:714.3pt; border:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="952">
<p class="x_MsoNormal"><span style="color:#1F497D"><%= image_tag attachments['header.png'].url -%></span><span style="color:#1F497D"></span></p>
</td>
</tr>
<tr>
<td style="width:714.3pt; border:solid windowtext 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="952">
<p class="x_MsoNormal"><span style="color:black"><br>
</span>Dear Participant,</p>
<p class="x_MsoNormal">&nbsp;</p>
<p class="x_MsoNormal">Thank you for participating in the Young Leaders’ Summit. We hope you had a memorable experience. Please find attached your certificate attesting to your successful participation in the same. In case you wish to make any modifications to your certificate, please fill out <span style="background:yellow"><a href="https://docs.google.com/forms/d/1437MTDj0lx8pKeIpy1so4eXKKu25MP4_kPe33C2HLAA/edit" target="_blank">this form</a></span>. As of now the certificates have been made out with the details that you shared with us in your Google Forms. </p>
<p class="x_MsoNormal"><span style="color:#1F497D" lang="EN-US">&nbsp;</span></p>
<p class="x_MsoNormal">Thank you for helping us make Vista '15 a grand success. Now that the dust has settled somewhat, we would like to look back and evaluate what went well and we could have done better. In this regard, we would greatly appreciate if you could take a minute to fill the from below, so that we can make the next edition of Vista even grander!<span style="color:black"><br>
<br>
Kindly give us your valuable feedback <span style="background:yellow"><a href="https://docs.google.com/forms/d/1zEtcdVRONHONVLN86qsnLb0XLE_Wl_DhiFAYgr8pD7s/viewform?c=0&amp;w=1" target="_blank">here</a></span><br>
<br>
</span><span lang="EN-US">Also, do like our Facebook Page:<span style="color:#1F497D"> &nbsp;<span style="background:yellow"><a href="https://www.facebook.com/iimbvista" target="_blank">https://www.facebook.com/iimbvista</a></span> </span></span></p>
<p class="x_MsoNormal"><span style="color:#1F497D" lang="EN-US">&nbsp;</span></p>
<p class="x_MsoNormal"><span lang="EN-US">Regards,</span></p>
<p class="x_MsoNormal"><span lang="EN-US">&nbsp;</span></p>
<p class="x_MsoNormal"><span lang="EN-US">Team Vista,</span></p>
<p class="x_MsoNormal"><span lang="EN-US">IIM Bangalore </span></p>
</td>
</tr>
</tbody>
</table>