<table class="x_MsoTableGrid" style="border-collapse:collapse; border:none" cellpadding="0" cellspacing="0" border="1">
<tbody>
<tr>
<td style="width:714.3pt; border:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="952">
<p class="x_MsoNormal"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D"><%= image_tag attachments['header.png'].url -%></span><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D"></span></p>
</td>
</tr>
<tr>
<td style="width:714.3pt; border:solid windowtext 1.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="952">
<p class="x_MsoNormal"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black"><br>
</span><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Thank you for helping us make Vista '15 a grand success. Now that the dust has settled somewhat, we would like to look back and evaluate what went well and we could have done better. In this regard, we would greatly appreciate if you could take a minute to fill the from below, so that we can make the next edition of Vista even grander!<span style="color:black"><br>
<br>
Kindly give us your valuable feedback <a href="https://docs.google.com/forms/d/1zEtcdVRONHONVLN86qsnLb0XLE_Wl_DhiFAYgr8pD7s/viewform?c=0&amp;w=1" target="_blank">here</a><br>
<br>
Best Regards<br>
Team Vista '15<br>
IIM Bangalore</span></span><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D"></span></p>
</td>
</tr>
</tbody>
</table>