<%= image_tag attachments['header.png'].url -%> 
<span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">Dear All</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">The United Nations has long been serving as an able organization to promote international peace, harmony and physical well being.&nbsp;Over the past six decades, the world has assumed far more&nbsp;complex dimensions than ever before. <b>IIM Bangalore’s Vista&nbsp;</b>&nbsp;aims to nurture the global leader in you through its first edition&nbsp;of Model United Nations. The&nbsp;<b>IIMB&nbsp;Model United Nations</b>&nbsp;(MUN) is a humble effort to recreate the spirit of diplomacy that originally defined&nbsp;the United Nations.&nbsp;The conference aims to promote intellectual reasoning and professionalism by means of quality debating on global issues and policies.</span></p>
<p style="background:white"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">&nbsp;</span></p>
<p style="text-align:center; background:white" align="center"><a href="http://www.iimbmun.com/" target="_blank" style="color:blue; text-decoration:underline"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black; text-decoration:none">
<%= image_tag attachments['munmail.png'].url -%> 
 </span></a><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black"></span></p>
<p style="background:white"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">The MUN is spread over two days, on the&nbsp;<b>26th</b>&nbsp;and&nbsp;<b>27th</b>&nbsp;of&nbsp;<b>September,2015</b>&nbsp;to be held at&nbsp;<b>IIM Bangalore</b>.</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">We are pleased to invite you to the MUN. The&nbsp;delegate&nbsp;<b>registrations</b>&nbsp;for the following committees are now open:</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">1) Human Rights Council</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">2) Educational and Financial Committee</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">3) UN Global Impact</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">4) UN Security Council</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">5) National Security Council</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">6) Economic and Social Council</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">Each of the committees is chaired by extremely talented student leaders with an experience of convening MUN sessions across the globe.</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">The IIMB MUN attempts to give a platform to budding future leaders to hone their skills through an enriching discussion and dialogue.</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">Visit&nbsp;<a href="http://www.iimbmun.com/" target="_blank" title="http://www.iimbmun.com/
Ctrl+Click or tap to follow the link" id="LPlnk570956" style="color:blue; text-decoration:underline">http://www.iimbmun.com/</a>&nbsp;to&nbsp;<b>register</b>. You can also visit <a href="http://www.iimb-vista.com" target="_blank" style="color:blue; text-decoration:underline">www.iimb-vista.com</a> to know more about the event.&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">Prizes worth INR <b>1.5 lakhs</b> to be won!!</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">Registrations close on&nbsp;<b>13th September, 2015</b></span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">You can also follow us on our FB page at :&nbsp;<a href="https://www.facebook.com/IIMBMUN" target="_blank" title="https://www.facebook.com/IIMBMUN
Ctrl+Click or tap to follow the link" id="LPlnk357833" style="color:blue; text-decoration:underline">https://www.facebook.com/IIMBMUN</a>.</span></p>
<p style="background:white"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"></p>
<p style="background:white"></p>
<p class="x_MsoNormal"><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;" lang="EN-US">In case of queries, kindly contact:</span></p>
<p class="x_MsoNormal"><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;" lang="EN-US">Amit Kumar Sah: 8884000865</span></p>
<p class="x_MsoNormal"><span style="font-family:&quot;Cambria&quot;,&quot;serif&quot;" lang="EN-US">Devendra Kumar Meel: &nbsp;8452940277</span></p>
&nbsp;<br>
<p></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Best Regards,</span></p>
<p style="background:white">&nbsp;</p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Team Vista ’15</span></i></p>
<p><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">IIM Bangalore</span>