<div style="border-style: solid;border-width: 2px;padding: 10px 10px 10px 10px">
<%= image_tag attachments['header.png'].url -%> 
<br/><br/>
Dear All,<br/><br/>
 
Greetings from Team Vista, IIM Bangalore<br/><br/>
 
It pleases us galore to announce the launch of the official website of Vista '15.<br/>
You can now register for the event at our website -  <a href="www.iimb-vista.com">http://www.iimb-vista.com</a><br/><br/>
 
Take an #Indi-Genius stand and win away at events in Vista ‘15<br/><br/>

Please find below the details of the events:<br/><br/>
<table border="1">
<tr>
<th>
EVENTS
</th>
<th>
DESCRIPTION
</th>
</tr>
<tr>
<td>
Corporate Czars
</td>
<td>
Can you don that strategic hat and set to take a leading company to dizzying heights
</td>
</tr>
<tr>
<td>
Jagruti
</td>
<td>
Teams have to demonstrate their sensitivity towards glaring public policy loopholes
</td>
</tr>
<tr>
<td>
Masters of Market
</td>
<td>
Can you tackle vagaries of the market that have taken down millions?
</td>
</tr>
<tr>
<td>
Numero Uno
</td>
<td>
The hunt for the student champion who has all the skills necessary to be the future leader
</td>
</tr>
<tr>
<td>
Sparsh
</td>
<td>
Come and reach out to the often neglected but critical social sector by participating in Sparsh
</td>
</tr>
<tr>
<td>
Stock 20-20
</td>
<td>
Bring your fin-gyaan to Stock 20-20 and tell us why you think it is worth our money to invest in the stock of your choice
</td>
</tr>
<tr>
<td>
Next Big Wave
</td>
<td>
Envision ahead of time and create disruptive business models that can leverage the various incredible SMAC scenarios and turn ideas into reality
</td>
</tr>
<tr>
<td>
Vidheyak
</td>
<td>
This event will test your understanding of key public issues and evaluate your approaches in their resolution
</td>
</tr>
<tr>
<td>
Young Leaders’ Summit
</td>
<td>
YLS is back again to create an engaging platform for students from around the country
</td>
</tr>
</table>
<br/> 
Regards<br/>
Team Vista’15<br/>
Forum for Industrial Interaction<br/>
Ph: +91-9686508699/+91-9916574658<br/><br/>
<%= image_tag attachments['footer.png'].url %><br/>

</div>
<div style="border-style: solid;border-width: 2px;background-color:blue;color:white;text-align:center;border-color:black;">To stay updated, please visit and Like : https://www.facebook.com/iimbvista</div>
<div style="border-style: solid;border-width: 2px;text-align:center;border-color:black;">© Copyright 2015 Vista - Forum for Industrial Interaction, IIM Bangalore. All rights reserved.
</div>

 