<div align="center">
<table class="x_MsoNormalTable" style="width:707.15pt" cellpadding="0" cellspacing="0" border="0" width="943">
<tbody>
<tr style="height:123.35pt">
<td colspan="6" style="width:707.15pt; border:solid windowtext 1.0pt; border-bottom:none; padding:0cm 0cm 0cm 0cm; height:123.35pt" valign="top" width="943">
<p style="text-align:center" align="center"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D"><%= image_tag attachments['header.png'].url -%></span></p>
</td>
</tr>
<tr style="height:21.15pt">
<td style="width:30.65pt; border:none; border-left:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm; height:21.15pt" width="41">
<p><span style="font-size:9.0pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#333333">&nbsp;</span></p>
</td>
<td colspan="4" style="width:655.55pt; padding:0cm 0cm 0cm 0cm; height:21.15pt" width="874">
<p style="text-align:center; background:white" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;">&nbsp;</span></b></p>
<p class="x_MsoNormal" style="text-align:center" align="center"><b><span style="font-size:20.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:red">Presenting our Keynote Speakers:</span></b></p>
<p class="x_MsoNormal" style="text-align:center" align="center"><b><span style="font-size:20.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:red">Mr. Siddharth Roy Kapur and Mr. Rajdeep Sardesai!</span></b></p>
<p class="x_MsoNormal" style="text-align:justify"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p class="x_MsoNormal" style="text-align:justify"><%= image_tag attachments['srk.jpg'].url, :align=>"left", :height=>"447", :hspace=>"12", :width=>"360"-%><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">Mr. Siddharth Roy Kapur </span></b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:black">is the MD of Disney India<b>. &nbsp;</b></span><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">In his role as Managing Director, Mr. Kapur is driving the strategy and growth for Walt Disney Company in one of its most important global growth markets. After&nbsp;a B.Com from Sydenham College and a Masters in Management Studies from the Jamnalal Bajaj&nbsp;Institute, Siddharth&nbsp;began his career with the Procter &amp; Gamble Company in Mumbai in the brand management team. From P&amp;G, Mr. Kapur moved to STAR TV in the strategic planning division,&nbsp;focusing on Star Plus and the National Geographic Channel. After a brief stint in Hong Kong, he moved back to Mumbai to work on the marketing of '<b><i>Kaun Banega Crorepati</i></b>'.&nbsp;In recognition of the ground-breaking marketing efforts behind the show, he was nominated for the Team Newscorp Global Excellence Awards. </span></p>
<p class="x_MsoNormal" style="text-align:justify"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
<p class="x_MsoNormal" style="text-align:justify"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">In January 2008 he took over as CEO of UTV Motion Pictures and subsequent to the takeover by Walt Disney International he held the role of Managing Director – Studio. In this role he was responsible for all aspects of Development, Production, Marketing, Distribution and Syndication and he has led the studio to great heights. Under his leadership the studio has produced / released some of the best films of the decade such as <b><i>Jodhaa Akbar</i>, <i>A Wednesday<span style="color:black">!</span></i>, <i>Taare Zameen Par</i><span style="color:black">, </span><i>Rowdy Rathore, Barfi!, Kai Po Che, Yeh Jawaani Hai Deewani, Chennai Express</i></b><i> </i>and more<i>.</i></span></p>
<p class="x_MsoNormal"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">&nbsp;</span></b></p>
<p class="x_MsoNormal"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Day and Date:</span></b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"> Saturday, 26<sup>th</sup> September</span></p>
<p class="x_MsoNormal"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Time:</span></b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"> 10.45 AM</span></p>
<p class="x_MsoNormal"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Venue:</span></b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"> IIM B Auditorium</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><%= image_tag attachments['rs.jpg'].url, :align=>"left", :height=>"447", :hspace=>"12", :width=>"360"-%><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D"></span></p>
<p class="x_MsoNormal" style=""><b>Mr. Rajdeep Sardesai</b> is currently a consulting editor at the <b>India Today</b>. He is also the former <b>Editor-in-Chief</b> of <b>IBN18 Network</b>, that includes <b>CNN-IBN, IBN7</b> and <b>IBN-Lokmat.</b></p>
<p class="x_MsoNormal" style="">An economics graduate from St. Xavier's College, he has completed his Masters and LLB from Oxford University. He has 26 years of journalistic experience in print and television. Prior to setting up the IBN network channels, he was the Managing Editor of both <b>NDTV 24X7</b> and <b>NDTV India. </b>He has covered major national and international stories, specialising in national politics. He has won numerous other awards for journalistic excellence, including the prestigious <b>Padma Shri</b> for Journalism in 2008. He was also chosen as a Global Leader for Tomorrow by the world economic forum. Mr.Sardesai authored a book 2014: The Election that Changed India, which was released on 1 November 2014. Mr. Sardesai also writes a fortnightly column across several newspapers, including The Hindustan Times.<span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D"></span></p>
<p class="x_MsoNormal"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Day and Date:</span></b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"> Saturday, 26<sup>th</sup> September</span></p>
<p class="x_MsoNormal"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Time:</span></b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"> 6.00 PM</span></p>
<p class="x_MsoNormal"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Venue:</span></b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"> IIM B Auditorium</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Please visit and Like</span><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;"> :<span style="color:red"><a href="https://www.facebook.com/iimbvista" target="_blank"><span style="color:red">https://www.facebook.com/iimbvista</span></a></span></span></p>
<p class="x_MsoNormal"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
<p class="x_MsoNormal"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">In case you plan to come down to Bangalore for Vista 2015, please fill out the form below to let us know your interest to avail of On-Campus Accommodation:<span style="color:#1F497D"> </span></span><span style="font-size:11.0pt; color:red"><a href="http://goo.gl/forms/aOH3tWf1Um" target="_blank"><span style="color:red">http://goo.gl/forms/aOH3tWf1Um</span></a></span><span style="color:black" lang="EN-US"></span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Best Regards,</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Team Vista ’15</span></i></p>
<p style="text-align:justify"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">IIM Bangalore</span></p>
<p><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
<p style="text-align:right" align="right"><span style="font-size:6.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">&nbsp;</span></p>
</td>
<td style="width:20.95pt; border:none; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm; height:21.15pt" width="28">
<p><i><span style="font-size:9.0pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#333333">&nbsp;</span></i></p>
<p><i><span style="font-size:9.0pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#333333">&nbsp;</span></i></p>
</td>
</tr>
<tr style="height:18.15pt">
<td colspan="6" style="width:707.15pt; background:#00B0F0; padding:0cm 0cm 0cm 0cm; height:18.15pt" width="943">
</td>
</tr>
<tr style="height:27.3pt">
<td colspan="6" style="width:707.15pt; padding:0cm 0cm 0cm 0cm; height:27.3pt" valign="top" width="943">
<p style="text-align:center" align="center"><span style="font-size:6.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959"><br>
</span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959">&nbsp;&nbsp;&nbsp;© Copyright 201</span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#1F497D">5</span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959"> Vista - </span><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><a href="http://spidi2.iimb.ernet.in/~fii" target="_blank"><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959; text-decoration:none">Forum for Industrial Interaction</span></a></span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959">, IIM Bangalore. All rights reserved.</span></p>
</td>
</tr>
<tr>
<td colspan="2" style="width:125.35pt; padding:0cm 0cm 0cm 0cm" width="167"></td>
<td style="width:191.85pt; padding:0cm 0cm 0cm 0cm" width="256"></td>
<td style="width:6.35pt; padding:0cm 0cm 0cm 0cm" width="8"></td>
<td style="width:362.65pt; padding:0cm 0cm 0cm 0cm" width="484"></td>
<td style="width:20.95pt; padding:0cm 0cm 0cm 0cm" width="28"></td>
</tr>
<tr>
<td style="width:30.65pt; padding:0cm 0cm 0cm 0cm" width="41"></td>
<td style="width:94.7pt; padding:0cm 0cm 0cm 0cm" width="126"></td>
<td style="width:191.85pt; padding:0cm 0cm 0cm 0cm" width="256"></td>
<td style="width:6.35pt; padding:0cm 0cm 0cm 0cm" width="8"></td>
<td style="width:362.65pt; padding:0cm 0cm 0cm 0cm" width="484"></td>
<td style="width:20.95pt; padding:0cm 0cm 0cm 0cm" width="28"></td>
</tr>
</tbody>
</table>
</div>