<div align="center">
<table class="x_MsoNormalTable" style="width:707.15pt" cellpadding="0" cellspacing="0" border="0" width="943">
<tbody>
<tr style="height:123.35pt">
<td colspan="5" style="width:707.15pt; border:solid windowtext 1.0pt; border-bottom:none; padding:0cm 0cm 0cm 0cm; height:123.35pt" valign="top" width="943">
<p style="text-align:center" align="center"><%= image_tag attachments['header.png'].url -%><span lang="EN-US"></span></p>
</td>
</tr>
<tr style="height:21.15pt">
<td style="width:30.65pt; border:none; border-left:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm; height:21.15pt" width="41">
<p><span style="font-size:9.0pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#333333" lang="EN-US">&nbsp;</span><span lang="EN-US"></span></p>
</td>
<td colspan="3" style="width:655.55pt; padding:0cm 0cm 0cm 0cm; height:21.15pt" width="874">
<p style="text-align:center; background:white" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;" lang="EN-US">&nbsp;</span></b><span lang="EN-US"></span></p>
<p style="margin:0cm; margin-bottom:.0001pt; text-align:center" align="center"><b><span style="font-size:20.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:red" lang="EN-US">Invite to Inauguration Ceremony</span></b><span lang="EN-US"></span></p>
<table class="x_MsoNormalTable" style="border-collapse:collapse" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td style="width:219.65pt; padding:0cm 0cm 0cm 0cm" valign="top" width="293">
<p style="margin:0cm; margin-bottom:.0001pt; text-align:center" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">&nbsp;</span></b><span lang="EN-US"></span></p>
<p style="margin:0cm; margin-bottom:.0001pt; text-align:center" align="center"><%= image_tag attachments['ng.jpg'].url -%><span lang="EN-US"></span></p>
<p style="margin:0cm; margin-bottom:.0001pt; text-align:center" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">&nbsp;</span></b><span lang="EN-US"></span></p>
</td>
<td style="width:435.1pt; padding:0cm 0cm 0cm 0cm" valign="top" width="580">
<p style="margin:0cm; margin-bottom:.0001pt; text-align:center" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">&nbsp;</span></b><span lang="EN-US"></span></p>
<p style="margin:0cm; margin-bottom:.0001pt"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">Day &amp; Date:&nbsp;</span></b><span style="font-size:11.5pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">Thursday;</span><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">&nbsp;</span><span style="font-size:11.5pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">24</span><sup><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">th</span></sup><span style="font-size:11.5pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">&nbsp;September, 2015</span><span lang="EN-US"></span></p>
<p style="margin:0cm; margin-bottom:.0001pt"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">Time: </span></b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">06:00&nbsp;PM<b> (Gate closes at 5:45 PM)</b></span><span lang="EN-US"></span></p>
<p style="margin:0cm; margin-bottom:.0001pt"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">Venue: </span></b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">IIM B Auditorium</span><span lang="EN-US"></span></p>
<p style="margin:0cm; margin-bottom:.0001pt"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">&nbsp;</span><span lang="EN-US"></span></p>
<p style="margin:0cm; margin-bottom:.0001pt"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">The 15<sup>th</sup> Edition of IIM Bangalore’s Vista will be inaugurated in the IIM B Auditorium on Thursday. The event will kick off the 3-day long Business Summit. Union Minister Mr. Nitin Gadkari has kindly consented to be the Chief Guest for the occasion. </span><span lang="EN-US"></span></p>
<p style="margin:0cm; margin-bottom:.0001pt"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">&nbsp;</span><span lang="EN-US"></span></p>
<p style="margin:0cm; margin-bottom:.0001pt"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">The proceedings will commence with the ceremonial lighting of lamps followed by Mr. Gadkari’s address. The topic of the same is “India Aspires”</span><span lang="EN-US"></span></p>
<p style="margin:0cm; margin-bottom:.0001pt"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">&nbsp;</span><span lang="EN-US"></span></p>
<p style="margin:0cm; margin-bottom:.0001pt"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">We would like to cordially invite on occasion, to grace the event with your presence and help us in making this edition of Vista, a grand success!</span><span lang="EN-US"></span></p>
<p style="margin:0cm; margin-bottom:.0001pt"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">&nbsp;</span><span lang="EN-US"></span></p>
</td>
</tr>
</tbody>
</table>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;" lang="EN-US">For more details, kindly use the attached complete schedule for the 3 days of Vista.</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;" lang="EN-US">Please visit and Like</span><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;" lang="EN-US"> :<span style="color:red"><a href="https://www.facebook.com/iimbvista" target="_blank"><span style="color:red">https://www.facebook.com/iimbvista</span></a></span></span><span lang="EN-US"></span></p>
<p style="margin:0cm; margin-bottom:.0001pt"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black" lang="EN-US">Best Regards,</span><span lang="EN-US"></span></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black" lang="EN-US">Team Vista ’15</span></i><span lang="EN-US"></span></p>
<p style="text-align:justify"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black" lang="EN-US">IIM Bangalore</span><span lang="EN-US"></span></p>
<p style="text-align:right" align="right"><span style="font-size:6.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black" lang="EN-US">&nbsp;</span><span lang="EN-US"></span></p>
</td>
<td style="width:20.95pt; border:none; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm; height:21.15pt" width="28">
<p><i><span style="font-size:9.0pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#333333" lang="EN-US">&nbsp;</span></i><span lang="EN-US"></span></p>
<p><i><span style="font-size:9.0pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#333333" lang="EN-US">&nbsp;</span></i><span lang="EN-US"></span></p>
</td>
</tr>
<tr style="height:18.15pt">
<td colspan="5" style="width:707.15pt; background:#00B0F0; padding:0cm 0cm 0cm 0cm; height:18.15pt" width="943">
</td>
</tr>
<tr style="height:27.3pt">
<td colspan="5" style="width:707.15pt; padding:0cm 0cm 0cm 0cm; height:27.3pt" valign="top" width="943">
<p style="text-align:center" align="center"><span style="font-size:6.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959" lang="EN-US"><br>
</span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959" lang="EN-US">&nbsp;&nbsp;&nbsp;© Copyright 201</span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">5</span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959" lang="EN-US"> Vista - </span><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;" lang="EN-US"><a href="http://spidi2.iimb.ernet.in/~fii" target="_blank"><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959; text-decoration:none">Forum for Industrial Interaction</span></a></span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959" lang="EN-US">, IIM Bangalore. All rights reserved.</span><span lang="EN-US"></span></p>
</td>
</tr>
<tr>
<td colspan="2" style="width:125.35pt; padding:0cm 0cm 0cm 0cm" width="167"></td>
<td style="width:6.35pt; padding:0cm 0cm 0cm 0cm" width="8"></td>
<td style="width:362.65pt; padding:0cm 0cm 0cm 0cm" width="484"></td>
<td style="width:20.95pt; padding:0cm 0cm 0cm 0cm" width="28"></td>
</tr>
<tr height="0">
<td style="border:none" width="41"></td>
<td style="border:none" width="126"></td>
<td style="border:none" width="8"></td>
<td style="border:none" width="739"></td>
<td style="border:none" width="28"></td>
</tr>
</tbody>
</table>
</div>