<div style="border-style: solid;border-width: 2px;padding: 10px 10px 10px 10px">
<%= image_tag attachments['header.png'].url -%> 
<br/><br/>
Dear all,<br/><br/>

Team Vista is happy to announce that all participants who register for YLS before the 1st of September, can avail of a special Early Bird offer: <b>25% off</b> on the registration charges! All applicants will also receive a <b>T-Shirt</b> and free accommodation in the IIM Bangalore Campus for the duration of the 3-Day workshop.<br/><br/>

So what are you waiting for? <a href="http://iimb-vista.com/myevents/information/5">Register today!</a><br/><br/>

We are also pleased to announce the launch of the Vista Android App! You can download the app here  <br/><br/>

The app will help you keep abreast of the latest news, event launches and promotions! Keep updated with Vista on the go!<br/><br/>
Also avail of exclusive offers only for users of the Vista App!<br/><br/>

Check out our other events at <a href="http://www.iimb-vista.com/">www.iimb-vista.com!!!!!</a><br/><br/>
Regards<br/>
Team Vista’15<br/>
Forum for Industrial Interaction<br/>
Ph: +91-9686508699/+91-9916574658<br/><br/>
<%= image_tag attachments['footer.png'].url %><br/>

</div>
<div style="border-style: solid;border-width: 2px;background-color:blue;color:white;text-align:center;border-color:black;">To stay updated, please visit and Like : https://www.facebook.com/iimbvista</div>
<div style="border-style: solid;border-width: 2px;text-align:center;border-color:black;">© Copyright 2015 Vista - Forum for Industrial Interaction, IIM Bangalore. All rights reserved.
</div>

 