<%= image_tag attachments['header.png'].url -%> 
<span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="text-align:center; background:white" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="text-align:center; background:white" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:red">DEADLINE EXTENSION</span></b></p>
<p style="text-align:center; background:white" align="center"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">Please find below the events with revised deadlines of the prelims round. In case you have already sent in your submission, you can resend them while clearly mentioning team name and the fact that the previous submission is not to be considered</span></p>
<p style="margin-bottom:12.0pt; text-align:center; background:white" align="center">
<span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><a href="http://www.iimb-vista.com/" target="_blank" title="Ctrl+Click or tap to follow the link" id="LPlnk802410">http://www.iimb-vista.com</a>&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="text-align:center; background:white" align="center"><b><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#943634">Be #Indi-Genius and get cracking at the events!</span></i></b><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">&nbsp;</span></p>
<p style="line-height:16.65pt; background:white"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#2F3339">&nbsp;</span></p>
<div align="center">
<table class="x_MsoNormalTable" style="width:100.0%; background:white; border-collapse:collapse; max-width:100%; border-spacing:0px; orphans:auto; text-align:start; widows:auto; word-spacing:0px" width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td style="width:104.3pt; border:solid windowtext 1.0pt; background:#FABF8F; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="139">
<p style="line-height:13.6pt"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Events</span></strong></p>
</td>
<td style="width:271.4pt; border:solid windowtext 1.0pt; border-left:none; background:#FABF8F; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Description</span></strong></p>
</td>
<td style="width:131.0pt; border:solid windowtext 1.0pt; border-left:none; background:#FABF8F; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="line-height:13.6pt"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Old Deadline</span></strong></p>
</td>
<td style="width:148.05pt; border:solid windowtext 1.0pt; border-left:none; background:#FABF8F; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="197">
<p style="line-height:13.6pt"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Revised Deadline</span></strong></p>
</td>
</tr>
<tr>
<td style="width:104.3pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="139">
<p style="text-align:center; line-height:13.6pt" align="center"><b><u><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#1F497D"><a href="http://www.iimb-vista.com/myevents/information/20" target="_blank"><span style="color:#1F497D">Ace the B-Moot</span></a></span></u></b></p>
</td>
<td style="width:271.4pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">The quest for India’s best orator!</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">5<sup>th</sup> September</span></p>
</td>
<td style="width:148.05pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="197">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">8<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:104.3pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="139">
<p style="text-align:center; line-height:13.6pt" align="center"><b><u><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#1F497D"><a href="http://www.iimb-vista.com/myevents/information/26" target="_blank"><span style="color:#1F497D">Metamorphosis</span></a></span></u></b></p>
</td>
<td style="width:271.4pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">Research paper presentation on strategic growth opportunities for large corporate</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">5<sup>th</sup> September</span></p>
</td>
<td style="width:148.05pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="197">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">8<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:104.3pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="139">
<p style="text-align:center; line-height:13.6pt" align="center"><b><u><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#1F497D"><a href="http://www.iimb-vista.com/myevents/information/9" target="_blank"><span style="color:#1F497D">Impetus</span></a></span></u></b></p>
</td>
<td style="width:271.4pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">Business plan competition</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">5<sup>th</sup> September</span></p>
</td>
<td style="width:148.05pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="197">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">10<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:104.3pt; border:solid windowtext 1.0pt; border-top:none; background:transparent; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="139">
<p style="text-align:center; line-height:13.6pt" align="center"><b><u><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#1F497D"><a href="http://iimb-vista.com/myevents/information/24" target="_blank" title="Ctrl+Click or tap to follow the link"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;; color:#1F497D">Next Big Wave</span></a></span></u></b></p>
</td>
<td style="width:271.4pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; background:transparent; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">Leverage SMAC to disrupt the market. Because following the status-quo is too mainstream! </span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; background:transparent; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">5<sup>th</sup> September</span></p>
</td>
<td style="width:148.05pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; background:transparent; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="197">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">10<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:104.3pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="139">
<p style="text-align:center; line-height:13.6pt" align="center"><b><u><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#1F497D"><a href="http://www.iimb-vista.com/myevents/information/8" target="_blank"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;; color:#1F497D">Street Smart</span></a></span></u></b></p>
</td>
<td style="width:271.4pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">Corporate Valuation challenge</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p class="x_MsoNormal" style="text-align:center" align="center"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">5<sup>th</sup> September</span></p>
</td>
<td style="width:148.05pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="197">
<table class="x_MsoNormalTable" style="width:100.0%" width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td style="width:100.0%; padding:.75pt .75pt .75pt .75pt" width="100%">
<p class="x_MsoNormal" style="text-align:center" align="center"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">8<sup>th</sup> September</span></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
<p style="line-height:16.65pt; background:white"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#2F3339">&nbsp;</span></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">&nbsp;Tune into our Facebook page to get the latest news and updates about events.</span></i></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">Please visit and Like : <a href="https://www.facebook.com/iimbvista" target="_blank"><span style="color:#0563C1">https://www.facebook.com/iimbvista</span></a> </span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Best Regards,</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Team Vista ’15</span></i></p>
<p style="text-align:justify"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">IIM Bangalore</span>