<%= image_tag attachments['header.png'].url -%> 
<span style="font-size:9.0pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#333333">&nbsp;</span></p>
</td>
<td colspan="4" style="width:655.55pt; padding:0cm 0cm 0cm 0cm; height:21.15pt" width="874">
<p style="text-align:center; background:white" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="text-align:center; background:white" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="line-height:16.65pt; background:white"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">Dear participant,</span></p>
<p style="line-height:16.65pt; background:white"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
<p style="line-height:16.65pt; background:white"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">In an effort to make better preparations for D-Day, we would like to gauge the interest of participants towards availing accommodation facilities on campus at IIM B. Hence we kindly request you to take time out to <b>fill the form below</b>. We guarantee that it should take no more than 3 minutes to fill. </span></p>
<p style="line-height:16.65pt; background:white"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
<p style="line-height:16.65pt; background:white"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;">Help us help you better!</span></p>
<p style="background:white">&nbsp;</p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Form: <span style="color:red; background:yellow"><a href="http://goo.gl/forms/u5aWUDo4wQ" target="_blank"><span style="color:red">http://goo.gl/forms/u5aWUDo4wQ</span></a></span> </span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">For further details regarding the accommodation we will be providing, you can visit our website and access the <b>Hospitality</b> tab under the main Menu: <span style="color:red; background:yellow"><a href="http://www.iimb-vista.com/home/acco_n_travel" target="_blank"><span style="color:red">www.iimb-vista.com/home/acco_n_travel</span></a></span></span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;">Tune into our Facebook page to get the latest news and updates about events.</span></i></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;">Please visit and Like:<span style="color:#1F497D"> </span><span style="color:red; background:yellow"><a href="https://www.facebook.com/iimbvista" target="_blank"><span style="color:red">https://www.facebook.com/iimbvista</span></a></span></span><span style="color:red"></span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Best Regards,</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Team Vista ’15</span></i></p>
<p style="text-align:justify"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">IIM Bangalore</span>