<%= image_tag attachments['header.png'].url -%> 
<span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;">&nbsp;</span></b></p>
<p style="background:white">
<%= image_tag attachments['trackinvest.jpg'].url, :style=>"display: block;", :align=>"right", :height=>"94", :hspace=>"12", :width=>"94" -%><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Dear all,</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Presenting the next round of Online events! Prizes worth<b> INR 90000</b> to be won!</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Register now:<span style="color:#1F497D"><a href="http://www.iimb-vista.com" target="_blank" title="Ctrl+Click or tap to follow the link" style="color:blue; text-decoration:underline">www.iimb-vista.com</a> &nbsp;&nbsp;</span></span></p>
<p style="text-align:center; background:white" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Also, kindly fill out the form below to help us gauge the interest for On-Campus accommodations during Vista:</span></p>
<p style="background:white"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="background:white"><span style="color:black"><a href="http://goo.gl/forms/aOH3tWf1Um" target="_blank" style="color:blue; text-decoration:underline">http://goo.gl/forms/aOH3tWf1Um</a></span></p>
<p style="background:white"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="background:white"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">If that’s not enough, check out our FB page! The latest updates and tons of contests await. Are you ready to become<span style="color:#1F497D"> #Indi-genius?&nbsp;</span></span></b></p>
<p style="text-align:center; background:white" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="text-align:center; background:white" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:red">NEW EVENTS</span></b></p>
<p style="text-align:center; background:white" align="center"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">Presenting the first wave of our online and On-The-Spot events</span></p>
<p style="margin-bottom:12.0pt; text-align:center; background:white" align="center">
<span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><a href="http://www.iimb-vista.com/" target="_blank" title="Ctrl+Click or tap to follow the link" id="LPlnk802410" style="color:blue; text-decoration:underline">http://www.iimb-vista.com</a>&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<div align="center">
<table class="x_MsoNormalTable" style="width:81.42%; background:white; border-collapse:collapse" cellpadding="0" cellspacing="0" border="0" width="81%">
<tbody>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; background:#FABF8F; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="text-align:center; line-height:13.6pt" align="center"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Event</span></strong></p>
</td>
<td style="width:271.3pt; border:solid windowtext 1.0pt; border-left:none; background:#FABF8F; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Description</span></strong></p>
</td>
<td style="width:131.0pt; border:solid windowtext 1.0pt; border-left:none; background:#FABF8F; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">DeadlineDates</span></strong></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/50" target="_blank" style="color:blue; text-decoration:underline"><span style="color:red">Fast Forward</span></a></span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">Online trading Simulation Game<span style="color:#1F497D">:</span> in association with Trakinvest</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">18<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/55" target="_blank" style="color:blue; text-decoration:underline"><span style="color:red">Go Viral</span></a></span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">Put your creative hats on and create a 2min Advertisement for JustRide!</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">19<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/31" target="_blank" style="color:blue; text-decoration:underline"><span style="color:red">Timeline Travel</span></a></span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt">Digital marketing of tourism in a state of your choice on facebook</p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">17<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/56" target="_blank" style="color:blue; text-decoration:underline"><span style="color:red">Nature’s Wall</span></a></span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<span style="font-size:11.0pt">Capture the environment’s wonders or challenges!</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">20<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/46" target="_blank" style="color:blue; text-decoration:underline"><span style="color:red">Optimus</span></a></span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">Operations Simulation Game</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">On-The-Spot</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/45" target="_blank" style="color:blue; text-decoration:underline"><span style="color:red">OpStrat</span></a></span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">An Ops game unlike any other. Do you have what it takes to tango with the best?</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">First Round: </span></p>
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">20<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="https://www.facebook.com/iimbvista/photos/a.353116484768979.82677.290901327657162/912859235461365/?type=1&amp;theater" target="_blank" style="color:blue; text-decoration:underline"><span style="color:red">Theme-a-thon</span></a></span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">3 clues, 3 days, 6 Speakers. Can you guess who?? </span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">Online</span></p>
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">Check out our Facebook page for more details!</span></p>
</td>
</tr>
</tbody>
</table>
</div>
<p style="background:white">&nbsp;</p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">&nbsp;</span></i></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;">Tune into our Facebook page to get the latest news and updates about events.</span></i></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;">Please visit and Like :<span style="color:#1F497D"><a href="https://www.facebook.com/iimbvista" target="_blank" style="color:blue; text-decoration:underline"><span style="color:#0563C1">https://www.facebook.com/iimbvista</span></a></span></span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Best Regards,</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Team Vista ’15</span></i><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;"></span></i></p>
<p style="text-align:justify"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">IIM Bangalore</span>