<div align="center">
<table class="x_MsoNormalTable" style="width:707.15pt" cellpadding="0" cellspacing="0" border="0" width="943">
<tbody>
<tr style="height:123.35pt">
<td colspan="5" style="width:707.15pt; border:solid windowtext 1.0pt; border-bottom:none; padding:0cm 0cm 0cm 0cm; height:123.35pt" valign="top" width="943">
<p style="text-align:center" align="center"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D"><%= image_tag attachments['header.png'].url -%></span></p>
</td>
</tr>
<tr style="height:21.15pt">
<td style="width:30.65pt; border:none; border-left:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm; height:21.15pt" width="41">
<p><span style="font-size:9.0pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#333333">&nbsp;</span></p>
</td>
<td colspan="3" style="width:655.55pt; padding:0cm 0cm 0cm 0cm; height:21.15pt" width="874">
<p style="margin:0cm; margin-bottom:.0001pt; text-align:center" align="center"><b><span style="font-size:20.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:red">Presenting Keynote Speaker: </span></b></p>
<p style="margin:0cm; margin-bottom:.0001pt; text-align:center" align="center"><b><span style="font-size:20.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:red">Mr. Nandan Nilekani!</span></b></p>
<table class="x_MsoNormalTable" style="border-collapse:collapse" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr style="border:transparent">
<td style="width:235.8pt; padding:0cm 0cm 0cm 0cm; border:transparent" valign="top" width="314">
<p style="margin:0cm; margin-bottom:.0001pt; text-align:center" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="margin:0cm; margin-bottom:.0001pt; text-align:center" align="center"><span style="color:#1F497D"><%= image_tag attachments['nn.jpg'].url, :id=>"x_Picture_x0020_1", :height=>"307", :width=>"301" -%></span></p>
<p style="margin:0cm; margin-bottom:.0001pt; text-align:center" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
</td>
<td style="width:418.95pt; padding:0cm 0cm 0cm 0cm; border:transparent" valign="top" width="559">
<p class="x_MsoNormal" style="">Vista 2015, in association with NSRCEL and Eximius, presents the next Keynote Speaker: <b>Mr. Nandan Nilekani</b></p>
<p class="x_MsoNormal" style=""><b>Nandan Nilekani</b> is an Indian entrepreneur, bureaucrat and politician. He is the former Chairman of the Unique Identification Authority of India (UIDAI). After a successful career at Infosys, he headed the Government of India's technology committee, TAGUP.</p>
<p class="x_MsoNormal" style="">Mr Nilekani, an IIT Bombay alumnus, started his career at Patni Computer Systems. There he met N R Narayana Murthy, along with whom,and five others, he left Patni to start their own company, Infosys in 1981. Mr. Nilekani became the chief executive officer of Infosys in March 2002 and served as CEO of the company through April 2007 and became co-chairman of the board of directors. Before assuming leadership as CEO in 2002, Nilekani held various posts, including managing director, president, and chief operating officer. </p>
<p class="x_MsoNormal" style="">Mr. Nilekani left Infosys in July 2009 to serve as the chairman of the Unique Identification Authority of India, a cabinet-ranking position,under the then Prime Minister Dr. Manmohan Singh. In 2006, Mr Nilekani was awarded one of the highest Indian civilian awards, the Padma Bhushan. In the same year he was named the Businessman of the Year by Forbes Asia.</p>
<p class="x_MsoNormal" style=""><b>Day and Date:</b> 26<sup>th</sup> September, 2015 (Saturday)</p>
<p class="x_MsoNormal" style=""><b>Time:</b> 03:00 PM</p>
<p class="x_MsoNormal" style=""><b>Venue:</b> IIM Bangalore Auditorium</p>
</td>
</tr>
</tbody>
</table>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Please visit and Like</span><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;"> :<span style="color:red"><a href="https://www.facebook.com/iimbvista" target="_blank" id="LPlnk695449"><span style="color:red">https://www.facebook.com/iimbvista</span></a></span></span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;">Also, Please find attached a full schedule of activities during Vista 2015!</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Best Regards,</span></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Team Vista ’15</span></i></p>
<p style="text-align:justify"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">IIM Bangalore</span></p>
<p><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
<p style="text-align:right" align="right"><span style="font-size:6.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">&nbsp;</span></p>
</td>
<td style="width:20.95pt; border:none; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm; height:21.15pt" width="28">
<p><i><span style="font-size:9.0pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#333333">&nbsp;</span></i></p>
<p><i><span style="font-size:9.0pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#333333">&nbsp;</span></i></p>
</td>
</tr>
<tr style="height:18.15pt">
<td colspan="5" style="width:707.15pt; background:#00B0F0; padding:0cm 0cm 0cm 0cm; height:18.15pt" width="943">
</td>
</tr>
<tr style="height:27.3pt">
<td colspan="5" style="width:707.15pt; padding:0cm 0cm 0cm 0cm; height:27.3pt" valign="top" width="943">
<p style="text-align:center" align="center"><span style="font-size:6.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959"><br>
</span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959">&nbsp;&nbsp;&nbsp;© Copyright 201</span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#1F497D">5</span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959"> Vista - </span><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><a href="http://spidi2.iimb.ernet.in/~fii" target="_blank"><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959; text-decoration:none">Forum for Industrial Interaction</span></a></span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959">, IIM Bangalore. All rights reserved.</span></p>
</td>
</tr>
<tr>
<td colspan="2" style="width:125.35pt; padding:0cm 0cm 0cm 0cm" width="167"></td>
<td style="width:6.35pt; padding:0cm 0cm 0cm 0cm" width="8"></td>
<td style="width:362.65pt; padding:0cm 0cm 0cm 0cm" width="484"></td>
<td style="width:20.95pt; padding:0cm 0cm 0cm 0cm" width="28"></td>
</tr>
<tr height="0">
<td style="border:none" width="41"></td>
<td style="border:none" width="126"></td>
<td style="border:none" width="8"></td>
<td style="border:none" width="739"></td>
<td style="border:none" width="28"></td>
</tr>
</tbody>
</table>
</div>