<div align="center">
<table class="x_MsoNormalTable" style="width:707.15pt" cellpadding="0" cellspacing="0" border="0" width="943">
<tbody>
<tr style="height:208.65pt">
<td colspan="5" style="width:707.15pt; border:solid windowtext 1.0pt; border-bottom:none; padding:0cm 0cm 0cm 0cm; height:208.65pt" valign="top" width="943">
<p style="text-align:center" align="center"><%= image_tag attachments['header.png'].url -%></p>
</td>
</tr>
<tr style="height:21.15pt">
<td style="width:30.65pt; border:none; border-left:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm; height:21.15pt" width="41">
<p><span style="font-size:9.0pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#333333" lang="EN-US">&nbsp;</span></p>
</td>
<td colspan="3" style="width:655.55pt; padding:0cm 0cm 0cm 0cm; height:21.15pt" width="874">
<p style="text-align:center; background:white" align="center"><b><span style="font-size:24.0pt; color:red">DAY#2 EVENTS SCHEDULE</span></b></p>
<p style="text-align:center; background:white" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Presenting the line up of events for Day 2! You can register at the Hospitality desk on campus to participate! Registration is free and open to all. The hospitality desk will open at 7.00 AM.</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
<table class="x_MsoTableLightListAccent1" style="border-collapse:collapse; border:none" cellpadding="0" cellspacing="0" border="1">
<tbody>
<tr>
<td style="width:212.05pt; border-top:solid #4F81BD 1.0pt; border-left:solid #4F81BD 1.0pt; border-bottom:none; border-right:none; background:#4F81BD; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="283">
<p><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:white">Name</span></b></p>
</td>
<td style="width:361.45pt; border:none; border-top:solid #4F81BD 1.0pt; background:#4F81BD; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="482">
<p><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:white">Description</span></b></p>
</td>
<td style="width:81.1pt; border-top:solid #4F81BD 1.0pt; border-left:none; border-bottom:none; border-right:solid #4F81BD 1.0pt; background:#4F81BD; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="108">
<p><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:white">Time</span></b></p>
</td>
</tr>
<tr>
<td style="width:212.05pt; border:solid #4F81BD 1.0pt; border-right:none; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="283">
<p><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Mr. Siddharth Roy Kapur</span></b></p>
</td>
<td style="width:361.45pt; border-top:solid #4F81BD 1.0pt; border-left:none; border-bottom:solid #4F81BD 1.0pt; border-right:none; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="482">
<p><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Speaker Series</span></p>
</td>
<td style="width:81.1pt; border:solid #4F81BD 1.0pt; border-left:none; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="108">
<p><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">11:00 AM</span></p>
</td>
</tr>
<tr>
<td style="width:212.05pt; border:none; border-left:solid #4F81BD 1.0pt; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="283">
<p><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Mr. Nandan Nilekani</span></b></p>
</td>
<td style="width:361.45pt; border:none; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="482">
<p><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Speaker Series</span></p>
</td>
<td style="width:81.1pt; border:none; border-right:solid #4F81BD 1.0pt; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="108">
<p><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">3:30 PM</span></p>
</td>
</tr>
<tr>
<td style="width:212.05pt; border:solid #4F81BD 1.0pt; border-right:none; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="283">
<p><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Mr. Rajdeep Sardesai</span></b></p>
</td>
<td style="width:361.45pt; border-top:solid #4F81BD 1.0pt; border-left:none; border-bottom:solid #4F81BD 1.0pt; border-right:none; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="482">
<p><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Speaker Series</span></p>
</td>
<td style="width:81.1pt; border:solid #4F81BD 1.0pt; border-left:none; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="108">
<p><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">6:30 PM</span></p>
</td>
</tr>
<tr>
<td style="width:212.05pt; border:none; border-left:solid #4F81BD 1.0pt; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="283">
<p><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Retailer Prelims</span></b></p>
</td>
<td style="width:361.45pt; border:none; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="482">
<p>Are you ready to enter the world of retailing and make a niche for yourself?<span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"></span></p>
</td>
<td style="width:81.1pt; border:none; border-right:solid #4F81BD 1.0pt; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="108">
<p><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">1:00 PM</span></p>
</td>
</tr>
<tr>
<td style="width:212.05pt; border:solid #4F81BD 1.0pt; border-right:none; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="283">
<p><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Trade-O-Mania</span></b></p>
</td>
<td style="width:361.45pt; border-top:solid #4F81BD 1.0pt; border-left:none; border-bottom:solid #4F81BD 1.0pt; border-right:none; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="482">
<p><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">A War of Trading!</span></p>
</td>
<td style="width:81.1pt; border:solid #4F81BD 1.0pt; border-left:none; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="108">
<p><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">2:30 PM</span></p>
</td>
</tr>
<tr>
<td style="width:212.05pt; border-top:none; border-left:solid #4F81BD 1.0pt; border-bottom:solid #4F81BD 1.0pt; border-right:none; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="283">
<p><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Optimus</span></b></p>
</td>
<td style="width:361.45pt; border:none; border-bottom:solid #4F81BD 1.0pt; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="482">
<p><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Operations Simulations Game!</span></p>
</td>
<td style="width:81.1pt; border-top:none; border-left:none; border-bottom:solid #4F81BD 1.0pt; border-right:solid #4F81BD 1.0pt; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="108">
<p><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">5:00 PM</span></p>
</td>
</tr>
</tbody>
</table>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"></span></p>
<p style="text-align:center; background:white" align="center"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><%= image_tag attachments['registrations_open.jpg'].url -%></span><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"></span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;" lang="EN-US">Please visit and Like</span><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;" lang="EN-US"> :<span style="color:red"><a href="https://www.facebook.com/iimbvista" target="_blank" id="LPlnk170312"><span style="color:red">https://www.facebook.com/iimbvista</span></a></span></span></p>
<p><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black" lang="EN-US">Best Regards,</span></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black" lang="EN-US">Team Vista ’15</span></i></p>
<p style="text-align:justify"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black" lang="EN-US">IIM Bangalore</span></p>
<p style="text-align:right" align="right"><span style="font-size:6.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black" lang="EN-US">&nbsp;</span></p>
</td>
<td style="width:20.95pt; border:none; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm; height:21.15pt" width="28">
<p><i><span style="font-size:9.0pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#333333" lang="EN-US">&nbsp;</span></i></p>
<p><i><span style="font-size:9.0pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#333333" lang="EN-US">&nbsp;</span></i></p>
</td>
</tr>
<tr style="height:18.15pt">
<td colspan="5" style="width:707.15pt; background:#00B0F0; padding:0cm 0cm 0cm 0cm; height:18.15pt" width="943">
</td>
</tr>
<tr style="height:27.3pt">
<td colspan="5" style="width:707.15pt; padding:0cm 0cm 0cm 0cm; height:27.3pt" valign="top" width="943">
<p style="text-align:center" align="center"><span style="font-size:6.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959" lang="EN-US"><br>
</span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959" lang="EN-US">&nbsp;&nbsp;&nbsp;© Copyright 201</span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#1F497D" lang="EN-US">5</span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959" lang="EN-US"> Vista - </span><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;" lang="EN-US"><a href="http://spidi2.iimb.ernet.in/~fii" target="_blank"><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959; text-decoration:none">Forum for Industrial Interaction</span></a></span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959" lang="EN-US">, IIM Bangalore. All rights reserved.</span></p>
</td>
</tr>
<tr>
<td colspan="2" style="width:125.35pt; padding:0cm 0cm 0cm 0cm" width="167"></td>
<td style="width:6.35pt; padding:0cm 0cm 0cm 0cm" width="8"></td>
<td style="width:362.65pt; padding:0cm 0cm 0cm 0cm" width="484"></td>
<td style="width:20.95pt; padding:0cm 0cm 0cm 0cm" width="28"></td>
</tr>
<tr>
<td style="width:30.75pt; padding:0cm 0cm 0cm 0cm" width="41"></td>
<td style="width:94.5pt; padding:0cm 0cm 0cm 0cm" width="126"></td>
<td style="width:6.0pt; padding:0cm 0cm 0cm 0cm" width="8"></td>
<td style="width:554.25pt; padding:0cm 0cm 0cm 0cm" width="739"></td>
<td style="width:21.0pt; padding:0cm 0cm 0cm 0cm" width="28"></td>
</tr>
</tbody>
</table>
</div>