<div align="center">
<table class="x_MsoNormalTable" style="width:707.15pt" cellpadding="0" cellspacing="0" border="0" width="943">
<tbody>
<tr style="height:123.35pt">
<td colspan="5" style="width:707.15pt; border:solid windowtext 1.0pt; border-bottom:none; padding:0cm 0cm 0cm 0cm; height:123.35pt" valign="top" width="943">
<p style="text-align:center" align="center"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D"><%= image_tag attachments['header.png'].url -%></span></p>
</td>
</tr>
<tr style="height:21.15pt">
<td style="width:30.65pt; border:none; border-left:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm; height:21.15pt" width="41">
<p><span style="font-size:9.0pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#333333">&nbsp;</span></p>
</td>
<td colspan="3" style="width:655.55pt; padding:0cm 0cm 0cm 0cm; height:21.15pt" width="874">
<p style="text-align:center; background:white" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;">&nbsp;</span></b></p>
<p style="text-align:center; margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;" align="center">
<b><span style="font-size:20.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:red">Presenting Keynote Speakers: </span></b></p>
<p style="text-align:center; margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;" align="center">
<b><span style="font-size:20.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:red">Mr. Rakeysh Omprakash Mehra and Mr.Nitin Gadkari!</span></b></p>
<table class="x_MsoNormalTable x_ms-rteTable-clear" style="border-collapse:collapse" cellpadding="0" cellspacing="0">
<tbody>
<tr class="x_ms-rteTableEvenRow-clear" style="border-collapse:collapse; border-collapse:collapse; border:1px solid transparent">
<td class="x_ms-rteTableEvenCol-clear" style="width:235.8pt; border-collapse:collapse; border-collapse:collapse; border:1px solid transparent" valign="top" width="314">
<p style="text-align:center; margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;" align="center">
<b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="text-align:center; margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;" align="center">
<b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D"><%= image_tag attachments['ng.jpg'].url, :style=>"display: inline;", :height=>"342", :width=>"294" -%></span></b></p>
<p style="text-align:center; margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;" align="center">
<b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
</td>
<td class="x_ms-rteTableOddCol-clear" style="width:418.95pt; border-collapse:collapse; border-collapse:collapse; border:1px solid transparent" valign="top" width="559">
<p style="text-align:center; margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;" align="center">
<b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<b>Union Minister Mr. Nitin Gadkari </b>has consented to be the Chief Guest at the Inauguration Ceremony of the 15<sup>th</sup> Edition of IIM Bangalore’s Vista on the 24<sup>th</sup> of September, 2015!<b></b></p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<br>
<b></b></p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<b>Nitin Gadkari</b>, for whom politics is an instrument of socio-economic transformation, is a senior minister in the <b>Union Cabinet of Prime Minister Narendra Modi</b> holding the important portfolios of <b>Road Transport, Highways &amp; Shipping</b>. He was also President of the Maharashtra Pradesh BJP till 2009 when he was elevated to the post of the BJP National President to become the then youngest party president. Mr. Gadkari was born in a middle-class agricultural family in Maharashtra's Nagpur city, which is also the headquarters of the RSS. He was inspired in his early life by the RSS and its mission of nation building. </p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<br>
</p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
As Public Works minister in Maharashtra, he built the Mumbai-Pune Expressway. From that experience he was asked by the then Prime Minister Atal Bihari Vajpayee to launch the National Highways Authority. He has promoted Water Management, Solar Energy Projects and the use of modern technology &amp; management tools in agriculture. His social enterprise has brought enormous development in the catchment areas of Nagpur region, notorious for farmers’ suicide. </p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<br>
</p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
He has also carried out many social welfare projects in Vidarbha region including making several villages self-sufficient by solar energy, thousands of heart surgeries and solar rickshaws for the needy. Mr. Gadkari has a vision for a strong India and he earnestly believes that the 21st century politics is the politics of progress and development.</p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<br>
<b></b></p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<b>Date:</b>24th September 2015<br>
<b>Time:</b> 6.00 PM<br>
<b>Venue:</b> IIMB Auditorium<br>
<b>Topic:</b> India Aspires</p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
</td>
</tr>
<tr class="x_ms-rteTableOddRow-clear" style="height:456.3pt; border-collapse:collapse; border-collapse:collapse; border:1px solid transparent">
<td class="x_ms-rteTableEvenCol-clear" style="width:235.8pt; height:456.3pt; border-collapse:collapse; border-collapse:collapse; border:1px solid transparent" valign="top" width="314">
<p style="text-align:center; margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;" align="center">
<b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="text-align:center; margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;" align="center">
<b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D"><%= image_tag attachments['rom.jpg'].url, :style=>"display: inline;", :height=>"337", :width=>"291" -%></span></b></p>
<p style="text-align:center; margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;" align="center">
<b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
</td>
<td class="x_ms-rteTableOddCol-clear" style="width:418.95pt; height:456.3pt; border-collapse:collapse; border-collapse:collapse; border:1px solid transparent" valign="top" width="559">
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<b>Rakeysh Omprakash Mehra</b> is a two time, <b>National Film Award</b> winning Indian filmmaker and screenwriter. He is best known for writing and directing <b><i>Rang De Basanti</i></b> and <b><i>Bhaag Milkha Bhaag</i></b>.</p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<br>
</p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
He was born in New Delhi, in a Punjabi family in India. He has directed scores of television commercials for Indian and international clients such as Coke, Pepsi, Toyota, American Express and BPL. He has also directed music videos such as Aby Baby starring Amitabh Bachchan.</p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<br>
</p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
In June 2001, his company released its first full-length feature film titled Aks, starring Amitabh Bachchan. His next release titled Rang De Basanti was released in 2006 and starred Aamir Khan and Soha Ali Khan. The film was a huge hit in India and did very well overseas. He received much acclaim for the film, winning Best Director awards at the 2006 Filmfare Award and National Film Award as well as a BAFTA Award nomination for Best Foreign Language Film. The film was also officially chosen as India's entry to the Oscars. In 2013, Mehra directed the biopic Bhaag Milkha Bhaag starring Farhan Akhtar as Milkha Singh, the legendary Indian sprinter. The film was a major commercial and critical success and earned him the IIFA award for best director for that year and national film award for best popular film.</p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<br>
</p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
We are proud to have Mr. Mehra as one of our speakers and would like to cordially invite all participants of Vista to the event.</p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<br>
<b></b></p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<b>Date:</b> 27th September 2015<br>
<b>Time:</b> 2.00 PM<br>
<b>Venue:</b> IIMB Auditorium<br>
<b>Topic:</b> Telling Indian Stories to the world</p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<br>
</p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<br>
</p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<br>
</p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<br>
</p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<br>
</p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<br>
</p>
</td>
</tr>
</tbody>
</table>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Please visit and Like</span><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;"> :<span style="color:red"><a href="https://www.facebook.com/iimbvista" target="_blank" id="LPlnk695449" style="color:blue; text-decoration:underline"><span style="color:red">https://www.facebook.com/iimbvista</span></a></span></span></p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
<p style="margin:0cm 0cm 0.0001pt; font-size:12pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
<span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">In case you plan to come down to Bangalore for Vista 2015, please fill out the form below to let us know your interest to avail of On-Campus Accommodation:<span style="color:#1F497D"> </span></span><span style="font-size:11.0pt; color:red"><a href="http://goo.gl/forms/aOH3tWf1Um" target="_blank" style="color:blue; text-decoration:underline"><span style="color:red">http://goo.gl/forms/aOH3tWf1Um</span></a></span><span style="color:black" lang="EN-US"></span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Best Regards,</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Team Vista ’15</span></i></p>
<p style="text-align:justify"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">IIM Bangalore</span></p>
<p><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
<p style="text-align:right" align="right"><span style="font-size:6.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">&nbsp;</span></p>
</td>
<td style="width:20.95pt; border:none; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm; height:21.15pt" width="28">
<p><i><span style="font-size:9.0pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#333333">&nbsp;</span></i></p>
<p><i><span style="font-size:9.0pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#333333">&nbsp;</span></i></p>
</td>
</tr>
<tr style="height:18.15pt">
<td colspan="5" style="width:707.15pt; background:#00B0F0; padding:0cm 0cm 0cm 0cm; height:18.15pt" width="943">
<br>
</td>
</tr>
<tr style="height:27.3pt">
<td colspan="5" style="width:707.15pt; padding:0cm 0cm 0cm 0cm; height:27.3pt" valign="top" width="943">
<p style="text-align:center" align="center"><span style="font-size:6.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959"><br>
</span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959">&nbsp;&nbsp;&nbsp;© Copyright 201</span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#1F497D">5</span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959"> Vista - </span><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><a href="http://spidi2.iimb.ernet.in/~fii" target="_blank" style="color:blue; text-decoration:underline"><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959; text-decoration:none">Forum for Industrial Interaction</span></a></span><span style="font-size:7.5pt; font-family:&quot;Arial&quot;,&quot;sans-serif&quot;; color:#595959">, IIM Bangalore. All rights reserved.</span></p>
</td>
</tr>
<tr>
<td colspan="2" style="width:125.35pt; padding:0cm 0cm 0cm 0cm" width="167"><br>
</td>
<td style="width:6.35pt; padding:0cm 0cm 0cm 0cm" width="8"><br>
</td>
<td style="width:362.65pt; padding:0cm 0cm 0cm 0cm" width="484"><br>
</td>
<td style="width:20.95pt; padding:0cm 0cm 0cm 0cm" width="28"><br>
</td>
</tr>
</tbody>
</table>