<%= image_tag attachments['header.png'].url -%> 
<span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Dear all,</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Presenting the Online events of Vista 2015! Earn glory and riches from the comforts of your room! And when you get tired of hiding in the shadows, get ready to take the stage and show the world what you’ve got in our tantalizing line-up of On-the-Spot events! </span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">How do you become a part of Vista? Register now on our website and browse myriad events we have on offer! Pit yourself against India’s finest in a Battle of Wits! So, what are you waiting for?</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Register now:<span style="color:#1F497D"> <a href="http://www.iimb-vista.com" target="_blank" style="color:blue; text-decoration:underline">www.iimb-vista.com</a> &nbsp;&nbsp;</span></span></p>
<p style="background:white"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="background:white"><b><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">If that’s not enough, check out our FB page! The latest updates and tons of contests await. Are you ready to become<span style="color:#1F497D"> #Indi-genius?&nbsp;</span></span></b></p>
<p style="text-align:center; background:white" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="text-align:center; background:white" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:red">NEW EVENTS</span></b></p>
<p style="text-align:center; background:white" align="center"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D"><font color="#000000">Presenting the first wave of our online and On-The-Spot events</font></span></p>
<p style="margin-bottom:12.0pt; text-align:center; background:white" align="center">
<span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><a href="http://www.iimb-vista.com/" target="_blank" title="Ctrl+Click or tap to follow the link" id="LPlnk802410" style="color:blue; text-decoration:underline">http://www.iimb-vista.com</a>&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<div align="center">
<table class="x_MsoNormalTable" style="width:81.42%; background:white; border-collapse:collapse" cellpadding="0" cellspacing="0" border="0" width="81%">
<tbody>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; background:#FABF8F; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="text-align:center; line-height:13.6pt" align="center"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Event</span></strong></p>
</td>
<td style="width:271.3pt; border:solid windowtext 1.0pt; border-left:none; background:#FABF8F; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Description</span></strong></p>
</td>
<td style="width:131.0pt; border:solid windowtext 1.0pt; border-left:none; background:#FABF8F; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Dates</span></strong></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/49" target="_blank" style="color:blue; text-decoration:underline"><span style="color:red">Drishtikone</span></a></span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">JAM with a twist. Do you have what it takes to hold an audience captive for a full minute?</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">On-the-Spot</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/38" target="_blank" style="color:blue; text-decoration:underline"><span style="color:red">Trade-O-Mania</span></a></span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">Negotiation Simulation Game</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">On-The-Spot</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/53" target="_blank" style="color:blue; text-decoration:underline"><span style="color:red">Potpourri</span></a></span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">Anagrams, Crosswords, Rebuses galore!</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">On-The-Spot</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/27" target="_blank" style="color:blue; text-decoration:underline"><span style="color:red">Bizare</span></a></span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">Flagship Quiz, hosted by none other than Veteran quizzer <b>Mr. Navin Jayakumar!</b></span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">On-The-Spot</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/46" target="_blank" style="color:blue; text-decoration:underline"><span style="color:red">Optimus</span></a></span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">Operations Simulation Game</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">On-The-Spot</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/45" target="_blank" style="color:blue; text-decoration:underline"><span style="color:red">OpStrat</span></a></span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">An Ops game unlike any other. Do you have what it takes to tango with the best?</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">First Round: </span></p>
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">20<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="https://www.facebook.com/iimbvista/photos/a.353116484768979.82677.290901327657162/912859235461365/?type=1&amp;theater" target="_blank" style="color:blue; text-decoration:underline"><span style="color:red">Theme-a-thon</span></a></span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">3 clues, 3 days, 6 Speakers. Can you guess who?? Check out our Facebook page for more details!</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">Launching on 11<sup>th</sup> September</span></p>
</td>
</tr>
</tbody>
</table>
</div>
<p style="background:white">&nbsp;</p>
<p style="text-align:center; background:white" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:red">UPCOMING DEADLINES</span></b><span style="color:red"></span></p>
<p style="line-height:16.65pt; background:white"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#2F3339">&nbsp;</span></p>
<div align="center">
<table class="x_MsoNormalTable" style="width:81.42%; background:white; border-collapse:collapse; max-width:100%; border-spacing:0px; orphans:auto; text-align:start; widows:auto; word-spacing:0px" cellpadding="0" cellspacing="0" border="0" width="81%">
<tbody>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; background:#FABF8F; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="text-align:center; line-height:13.6pt" align="center"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Event</span></strong></p>
</td>
<td style="width:271.3pt; border:solid windowtext 1.0pt; border-left:none; background:#FABF8F; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Description</span></strong></p>
</td>
<td style="width:131.0pt; border:solid windowtext 1.0pt; border-left:none; background:#FABF8F; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Submission Deadline</span></strong></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red">Unnati</span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">Marketing for a Social Cause</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">12<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red">Model United Nations</span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">Presenting the first edition of IIM Bangalore’s MUN!</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">13<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/3" target="_blank" style="color:blue; text-decoration:underline"><span style="color:red">Master the Market</span></a></span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">Devise an investment strategy for a portfolio</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">13<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; background:transparent; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red">Milestone</span></u></b></p>
</td>
<td style="width:271.3pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; background:transparent; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">Devise an Operations Strategy for a company</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; background:transparent; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">12<sup>th</sup> September</span></p>
</td>
</tr>
</tbody>
</table>
</div>
<p style="line-height:16.65pt; background:white"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#2F3339">&nbsp;</span></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">&nbsp;</span></i></p>
<p style="text-align:center; background:white" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:red">DEADLINE EXTENSION </span></b></p>
<p style="text-align:center; background:white" align="center">In response to numerous request, the deadlines for the following competitions have been revised to the dates stated below.</p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">&nbsp;</span></i></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></i></p>
<div align="center">
<table class="x_MsoNormalTable" style="width:81.7%; background:white; border-collapse:collapse" cellpadding="0" cellspacing="0" border="0" width="81%">
<tbody>
<tr>
<td style="width:138.05pt; border:solid windowtext 1.0pt; background:#FABF8F; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="184">
<p style="text-align:center; line-height:13.6pt" align="center"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Event</span></strong></p>
</td>
<td style="width:267.1pt; border:solid windowtext 1.0pt; border-left:none; background:#FABF8F; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="356">
<p style="text-align:center; line-height:13.6pt" align="center"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Description</span></strong></p>
</td>
<td style="width:129.8pt; border:solid windowtext 1.0pt; border-left:none; background:#FABF8F; padding:0cm 0cm 0cm 0cm" valign="top" width="173">
<p style="text-align:center; line-height:13.6pt" align="center"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Submission Deadline</span></strong></p>
</td>
</tr>
<tr>
<td style="width:138.05pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="184">
<p style="line-height:13.6pt"><b><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/19" target="_blank" style="color:blue; text-decoration:underline"><span style="color:red">Strategy&amp; Trojan Horse</span></a></span></b></p>
</td>
<td style="width:267.1pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="356">
<p><span style="font-size:11.0pt">Flagship Strategy Case Competition</span></p>
</td>
<td style="width:129.8pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="173">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">11<sup>th</sup> September</span></p>
</td>
</tr>
</tbody>
</table>
</div>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">&nbsp;</span></i></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></i></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;">Tune into our Facebook page to get the latest news and updates about events.</span></i></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;">Please visit and Like :<span style="color:#1F497D"><a href="https://www.facebook.com/iimbvista" target="_blank" style="color:blue; text-decoration:underline"><span style="color:#0563C1">https://www.facebook.com/iimbvista</span></a></span></span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Best Regards,</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Team Vista ’15</span></i></p>
<p style="text-align:justify"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">IIM Bangalore</span>