<%= image_tag attachments['header.png'].url -%> 
<span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></b></p>
<p style="text-align:center; background:white" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:red">UPCOMING DEADLINES </span></b></p>
<p style="text-align:center; background:white" align="center"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Please find below the events with deadlines coming up. Kindly make sure that you make the submission on time.</span></p>
<p style="margin-bottom:12.0pt; text-align:center; background:white" align="center">
<span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><a href="http://www.iimb-vista.com/" target="_blank" title="Ctrl+Click or tap to follow the link" id="LPlnk802410">http://www.iimb-vista.com</a>&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="text-align:center; background:white" align="center"><b><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#943634">Be #Indi-Genius and get cracking at the events!</span></i></b><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">&nbsp;</span></p>
<p style="line-height:16.65pt; background:white"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#2F3339">&nbsp;</span></p>
<div align="center">
<table class="x_MsoNormalTable" style="width:81.42%; background:white; border-collapse:collapse; max-width:100%; border-spacing:0px; orphans:auto; text-align:start; widows:auto; word-spacing:0px" cellpadding="0" cellspacing="0" border="0" width="81%">
<tbody>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; background:#FABF8F; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="text-align:center; line-height:13.6pt" align="center"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Event</span></strong><span style="color:#4A442A"></span></p>
</td>
<td style="width:271.35pt; border:solid windowtext 1.0pt; border-left:none; background:#FABF8F; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Description</span></strong><span style="color:#4A442A"></span></p>
</td>
<td style="width:131.0pt; border:solid windowtext 1.0pt; border-left:none; background:#FABF8F; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Submission Deadline</span></strong><span style="color:#4A442A"></span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/34" target="_blank"><span style="color:red">Unnati</span></a></span></u></b></p>
</td>
<td style="width:271.35pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">Marketing for a Social Cause</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">12<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/3" target="_blank"><span style="color:red">Master the Market</span></a></span></u></b></p>
</td>
<td style="width:271.35pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">Devise an investment strategy for a portfolio</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">13<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://www.iimb-vista.com/myevents/information/9" target="_blank"><span style="color:red">Impetus</span></a></span></u></b></p>
</td>
<td style="width:271.35pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">Business plan competition for double income families</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">10<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; background:transparent; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/24" target="_blank" title="Ctrl+Click or tap to follow the link"><span style="color:red">Next Big Wave</span></a></span></u></b></p>
</td>
<td style="width:271.35pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; background:transparent; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">Leverage SMAC to disrupt the market. Because following the status-quo is too mainstream! </span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; background:transparent; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">10<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; background:transparent; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red">Milestone</span></u></b></p>
</td>
<td style="width:271.35pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; background:transparent; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">Devise an Operations Strategy for a company</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; background:transparent; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">12<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:130.8pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="174">
<p style="line-height:13.6pt"><b><u><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/28" target="_blank"><span style="color:red">Schneider Smart City</span></a></span></u></b></p>
</td>
<td style="width:271.35pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="362">
<p style="line-height:13.6pt"><span style="font-size:11.0pt">Can you envision the smart city of the future?</span></p>
</td>
<td style="width:131.0pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="175">
<p class="x_MsoNormal" style="text-align:center" align="center"><span style="font-size:11.0pt">10<sup>th</sup> September</span></p>
</td>
</tr>
</tbody>
</table>
</div>
<p style="line-height:16.65pt; background:white"><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#2F3339">&nbsp;</span></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">&nbsp;</span></i></p>
<p style="text-align:center; background:white" align="center"><b><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:red">DEADLINE EXTENSION </span></b></p>
<p style="text-align:center; background:white" align="center">In response to numerous request, the deadlines for the following competitions have been revised to the dates stated below.</p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">&nbsp;</span></i></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></i></p>
<div align="center">
<table class="x_MsoNormalTable" style="width:81.7%; background:white; border-collapse:collapse" cellpadding="0" cellspacing="0" border="0" width="81%">
<tbody>
<tr>
<td style="width:138.05pt; border:solid windowtext 1.0pt; background:#FABF8F; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="184">
<p style="text-align:center; line-height:13.6pt" align="center"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Event</span></strong><span style="color:#4A442A"></span></p>
</td>
<td style="width:267.1pt; border:solid windowtext 1.0pt; border-left:none; background:#FABF8F; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="356">
<p style="text-align:center; line-height:13.6pt" align="center"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Description</span></strong><span style="color:#4A442A"></span></p>
</td>
<td style="width:129.8pt; border:solid windowtext 1.0pt; border-left:none; background:#FABF8F; padding:0cm 0cm 0cm 0cm" valign="top" width="173">
<p style="text-align:center; line-height:13.6pt" align="center"><strong><span style="font-size:10.0pt; font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;; color:#4A442A">Submission Deadline</span></strong><span style="color:#4A442A"></span></p>
</td>
</tr>
<tr>
<td style="width:138.05pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="184">
<p style="line-height:13.6pt"><b><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/19" target="_blank"><span style="color:red">Strategy&amp; Trojan Horse</span></a></span></b></p>
</td>
<td style="width:267.1pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="356">
<p><span style="font-size:11.0pt">Flagship Strategy Case Competition</span></p>
</td>
<td style="width:129.8pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="173">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">11<sup>th</sup> September</span></p>
</td>
</tr>
<tr>
<td style="width:138.05pt; border:solid windowtext 1.0pt; border-top:none; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="184">
<p style="line-height:13.6pt"><b><span style="font-size:11.0pt; color:red"><a href="http://iimb-vista.com/myevents/information/23" target="_blank"><span style="color:red">Jaagruti</span></a></span></b></p>
</td>
<td style="width:267.1pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:5.45pt 5.45pt 5.45pt 5.45pt" valign="top" width="356">
<p><span style="font-size:11.0pt">Public policy depicted through paintings and creatives!</span></p>
</td>
<td style="width:129.8pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0cm 0cm 0cm 0cm" valign="top" width="173">
<p style="text-align:center; line-height:13.6pt" align="center"><span style="font-size:11.0pt">10<sup>th</sup> September</span></p>
</td>
</tr>
</tbody>
</table>
</div>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">&nbsp;</span></i></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></i></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;">Tune into our Facebook page to get the latest news and updates about events.</span></i></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;">Please visit and Like :<span style="color:#1F497D"><a href="https://www.facebook.com/iimbvista" target="_blank"><span style="color:#0563C1">https://www.facebook.com/iimbvista</span></a></span></span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:#1F497D">&nbsp;</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Best Regards,</span></p>
<p style="background:white"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">&nbsp;</span></p>
<p style="background:white"><i><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">Team Vista ’15</span></i></p>
<p style="text-align:justify"><span style="font-size:11.0pt; font-family:&quot;Cambria&quot;,&quot;serif&quot;; color:black">IIM Bangalore</span>