<div class="well">
	<div class="panel-heading"><h1>Shop @ Vista '15</h1></div>
	<div class="row">
		<div class="col-md-12">
				<h2><p>Thank you for shopping at Vista '15</p>
				<p><a href="/shop_at_vista/index">Continue Shopping at Vista 2015</a></p></h2>
		</div>
	</div>
</div>